.route_show_cross {
    display: flex;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-top: 5px;
    background: url(pictures/close.svg);
    background-size: 16px 16px;
}

.search_input_block {
    display: flex;
    flex-direction: row;
    width: 235px;
    height: 25px;
    background: transparent;
    border-bottom: 1px solid #ffffff;
}

.search_input_icon {
    display: flex;
    width: 20px;
    height: 25px;
    background: url(pictures/location_white.svg);
    background-size: 20px 25px;
}

.search_input_style {
    display: flex;
    width: 215px;
    height: 25px;
    border: none;
    color: #ffffff;
    background: transparent;
}
.route_add_city{
  display: flex;
  flex-direction: row;
  color:#ffffff;
  ;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 35px;
  height: 17px;
}

.route_add_city_imageBlock {
    display: flex;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    background: url(pictures/add.svg);
    background-size: 17px 17px;
}

.route_add_city_text {
    display: flex;
    margin: auto 0;
}

.route_secondBottomBlock {
    display: flex;
    flex-direction: row;
    padding-bottom: 19px;
    width: 50%;
}

.route_secondBottomBlock_elementStyle {
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

.route_secondBottomBlock_date {
    height: 22px;
    margin-right: auto;
}

.route_secondBottomBlock_button {
    background-color: #ff6600;
    border-radius: 5px;
    border-color: #ff6600;
    width:235px;
    height: 48px;
    color: #ffffff;
}

.secondBottomBlock_calendarBlock {
    display: flex;
    width: 230px;
    height: 22px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    margin-right: auto;
}

.secondBottomBlock_calendar {
    display: flex;
    width: 17px;
    height: 17px;
    margin-right: 13px;
    background: url(pictures/calendar.svg);
    background-size: 17px 17px;
}

.secondBottomBlock_dateInput {
    display: flex;
    width: 202px;
    height: 22px;
    border: none;
    background-color: transparent;
    color: white;
}

.secondBottomBlock_button_inner {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.route_secondBottomBlock_searchText {
    display: flex;
    flex-direction: row;
    margin: auto 0;
}