.route_show_cross {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    right: 0px;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-top: 5px;
    background: url(pictures/close.svg);
    background-size: 16px 16px;
    background-position: center right;
}

.search_input_block {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    height: 25px;
    background: transparent;
    border-bottom: 1px solid #ffffff;
}

.search_input_block input:focus {
    outline: none;
}

.search_input_icon {
    display: flex;
    width: 20px;
    height: 25px;
    background: url(pictures/location_white.svg);
    background-size: 20px 25px;
}

.search_input_style {
    display: flex;
    width: fit-content;
    height: 25px;
    border: none;
    color: #ffffff;
    background: transparent;
    padding-right: 20px;
}

span.route_add_city {
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    min-height: 41px;
    line-height: 41px;
    margin: 2px;
    font-size: 12px;
    padding-left: 20px;
    background: url(pictures/addWhite.svg) no-repeat;
    background-size: 17px 17px;
    background-position: center left;
}

.route_secondBottomBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.route_secondBottomBlock_elementStyle {
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

.route_secondBottomBlock_date {
    height: 22px;
    margin-right: auto;
}

.route_secondBottomBlock_button {
    background-color: #ff6600;
    border-radius: 5px;
    width: 235px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 15px;
}

.route_secondBottomBlock_button span {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}

.secondBottomBlock_calendarBlock {
    display: flex;
    width: 230px;
    height: 22px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    margin-right: auto;
}

.secondBottomBlock_calendar {
    display: flex;
    width: 17px;
    height: 17px;
    margin-right: 13px;
    background: url(pictures/calendar.svg);
    background-size: 17px 17px;
}

.secondBottomBlock_dateInput {
    display: flex;
    width: 202px;
    height: 22px;
    border: none;
    background-color: transparent;
    color: white;
}


/* CalendarModal Bigin */


/* .calendarModalSearch div {
    width: 100% !important;
    max-height: 50px !important;
    cursor: pointer !important;
}

.calendarModalSearch {
    max-height: 40px;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

.calendarModalSearch div {
    color: #fff !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    padding-left: 25px;
}

.calendarModalSearch hr {
    display: none;
}

.calendarModalSearch input {
    text-indent: 20px;
    background: url(./pictures/calendar.svg)no-repeat;
    background-size: 14px 14px;
    background-position: top 12px left 6px;
    color: #fff !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    padding-left: 10px !important;
    max-height: 40px !important;
    margin: 0 !important;
}

.calendarModalSearch input ::placeholder {
    color: #fff !important;
} */


/* CalendarModal end */

@media (max-width: 1140px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {
    .route_secondBottomBlock_button {
        width: 100%;
        margin: 10px 0px;
    }
}