.drivers_route {
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(48, 66, 105, 0.60);
    margin-top: 35px;
    padding: 20px 20px 0 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}

.route_date {
    align-items: center;
    justify-content: space-between;
    order: 0;
    width: 100%;
    font-size: 24px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 400;
    margin-bottom: 35px;
}

.route_date_text {
    display: flex;
}

.route_date_value {
    display: flex;
}

.route_change_emblem {
    display: flex;
    width: 21px;
    height: 21px;
    background: url(pictures/drivers_edit_route.png) no-repeat;
    background-size: 21px 21px;
}

.route_change_text {
    display: flex;
    height: 100%;
    text-align: right;
    text-decoration: underline;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    margin: 3px;
}

.route_show {
    flex-wrap: wrap;
    padding-bottom: 25px;
    width: 100%;
}
.route_show_bottom{
    padding-bottom: 0;
}
.route_show_element {
    display: flex;
    position: relative;
    height: 40px;
    width: 280px;
}
.route_show_icon{
    margin-top: 10px;
    height: 30px;
    width: 30px;
    background: url(pictures/location.svg);
    background-size: 30px 30px;
}
.route_show_text {
    position: absolute;
    height: 40px;
    font-family: "Roboto";
    font-weight: 400;
    left: 35px;
    font-size: 15px;
    color: #ffffff;
}

.route_show_line {
    position: absolute;
    height: 25px;
    left: 30px;
    width: 250px;
    color: #ffffff;
    border-bottom: 1px solid;
}

.route_bottomBlock {
    padding-bottom: 19px;
    width: 50%;
}

.route_time_text {
    display: flex;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}

.route_comment {
    display: flex;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
}