.drivers_properties_sortMenu {
    position: relative;
    display: flex;
    flex-direction: row;
}

.sortMenu_element {
    cursor: pointer;
    margin: 0 10px;
    padding: 0 2px;
    display: flex;
    transition: all 0.3s;
}

.sortMenu_element span {
    color: #304269;
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
    transition: all 0.3s;
    min-height: 30px;
}

.sortMenu_element_active span {
    color: #f60;
}

.sortMenu_element_icon {
    display: none;
    width: 15px;
    height: 40px;
    margin-left: 2px;
    background-size: contain !important;
    background-position: center center !important;
    border-bottom: none !important;
}

.sortMenu_element_active {
    display: flex;
    border-bottom: 2px solid #f60;
}

.driver_sortMenu_mobail {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    top: 55px;
    left: -100%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.driver_sortMenu_mobail-active {
    left: 5%;
}