.infoBlock_starsBlock {
    position: relative;
    align-items: center;
    height: 15px;
}

.infoBlock_starsBlock_value {
    font-weight: 500;
    height: 100%;
    max-width: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #ff6600;
    line-height: 17px;
    margin: auto 5px 0 0;
}
.placeCreateCommentStars{
    font-size: 24px!important;
}
.infoBlock_starsBlock_stars {
    align-items: center;
    height: 100%;
    margin: auto 0;
    font-size: 16px;
}

.infoBlock_starsBlock_hideFirst .infoBlock_starsBlock_value{
    display: none;
}

.starsBlock_stars_element {
    position: relative;
    width: 16px;
    height: 18px;
    z-index: 1;
}

.background_stars {
    position: absolute;
    width: 90%;
    height: 14px;
    margin-top: 2px;
}

.infoBlock_starsBlock_stars img {
    padding: 0;
    margin: 0;
    z-index: 2;
}

.infoBlock_starsBlock_number {
    height: 100%;
    margin: auto 0;
    font-size: 12px;
    text-align: center;
    color: #686868;
    margin: auto 0 0 5px;
}

.react-rater-star {
    color: #ccc;
}

.react-rater-star.is-active-half::before {
    color: #f60 !important;
}

.react-rater-star.will-be-active {
    color: #f60 !important;
}

.react-rater-star.is-active {
    color: #f60 !important;
}

@media (max-width: 768px) {
    .infoBlock_starsBlock_stars {
        font-size: 14px;
    }
}