.drivers_properties {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.properties_leftBlock {
    height: 100%;
    margin-right: auto;
}

.properties_rightBlock {
    height: 100%;
    margin-left: auto;
}

.drivers_properties_text {
    height: 100%;
    font-size: 9pt;
    color: #686868;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-right: 4px;
}

.properties_leftButton {
    float: left;
    margin-right: 5px;
}

.properties_rightButton {
    float: right;
    margin-left: 5px;
}

.properties_buttonStyle {
    position: relative;
    font-weight: 500;
    font-size: 9pt;
    color: #304269;
    background-color: #d9e8f5;
    border-radius: 3px;
    text-align: center;
    line-height: 250%;
    padding: 0 2px;
    cursor: pointer;
    z-index: 100;
}


/*line-height в предыдущем стиле какое-то странное*/

.properties_value {
    align-items: center;
    justify-content: center;
    margin: auto 5px;
}

.properties_value img {
    margin-right: 2px;
}

.properties_arrow {
    margin: auto 2px;
    width: 8px;
    height: 8px;
    background: url(pictures/da_tru_big_arrow.png) no-repeat;
    background-size: contain;
}

.properties_carPicture {
    margin: auto 2px;
    width: 20px;
}

.properties_rightButton_characteristic {
    margin: auto 2px;
}

.properties_rightButton_value {
    margin: auto 2px;
    font-weight: 500;
    font-size: 9pt;
}