.drivers_properties {
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.properties_rightBlock {
    height: 41px;
}

.properties_leftBlock {
    padding: 5px;
    background: rgba(48, 66, 105, 0.6);
    border-radius: 5px;
    margin-bottom: 10px;
}

.drivers_properties_text {
    height: 100%;
    font-size: 9pt;
    color: #686868;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-right: 4px;
}

.properties_leftButton {
    float: left;
    margin-right: 5px;
}

.properties_rightButton {
    float: right;
    margin-left: 5px;
    font-weight: 400;
    font-size: 12px;
    color: #304269;
    text-align: center;
    padding: 0 2px;
}

.properties_buttonStyle {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 0 2px;
}


/*line-height в предыдущем стиле какое-то странное*/

.properties_value {
    align-items: center;
    justify-content: center;
    margin: auto 5px;
    cursor: pointer;
}

.properties_value img {
    margin-right: 2px;
}

.properties_arrow {
    cursor: pointer;
    margin: auto 2px;
    width: 8px;
    height: 8px;
    background: url(pictures/da_tru_big_arrow.png) no-repeat;
    background-size: contain;
}

.properties_carPicture {
    margin: auto 2px;
    width: 20px;
}

.properties_rightButton_characteristic {
    margin: auto 2px;
    padding-bottom: 2px;
}

.properties_rightButton_value {
    margin: auto 2px;
    font-weight: 500;
    font-size: 9pt;
}