.drivers_properties_autoMenu {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 128px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    z-index: 30;
}

.autoMenu_element {
    position: relative;
    width: 128px;
    height: 30px;
    background: rgba(48, 66, 105, 0.6);
    border: none;
}

.autoMenu_element:hover {
    transition: all 0.3s;
    background-color: #f60;
}

.autoMenu_element:first-child {
    border-radius: 5px 5px 0 0;
}

.autoMenu_element:last-child {
    border-radius: 0 0 5px 5px;
}

.autoMenu_element_textBlock {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    line-height: 30px;
}

.autoMenu_element_picture {
    position: absolute;
    left: 2%;
    top: -2px;
    width: 20%;
    height: 100%;
}

.autoMenu_element_text {
    position: absolute;
    left: 32px;
    width: 90px;
    height: 100%;
    text-align: left;
    font-weight: 400;
    font-size: 9pt;
    color: #fff;
}