.drivers_properties_autoMenu {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 128px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    z-index: 30;
}

.classFormControl {
    /* position: absolute !important; */
    /* top: 30px;
    left: 0; */
    min-width: 165px !important;
    max-width: 165px;
    border-radius: 5px;
    background-color: #304269;
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
    z-index: 30;
}

.classFormControl .MuiSelect-icon {
    color: #fff !important;
}

.classFormControl .MuiSelect-selectMenu {
    color: #fff !important;
    padding: 5px 10px;
    padding-right: 20px;
}

.MuiInput-underline:after {
    border-bottom: none !important;
}

.MuiInput-underline:before {
    border-bottom: none !important;
}

.MuiSelect-icon {
    color: #fff !important;
}

.MuiTypography-body1 {
    font-size: 14px !important;
}

.MuiMenuItem-root {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    min-height: 30px !important;
    line-height: 2.4 !important;
}

.MuiCheckbox-root {
    color: #304269 !important;
}

.MuiListItem-button:hover,
.MuiListItem-root.Mui-selected:hover {
    background: rgba(255, 255, 255, 0.329) !important;
}

.MuiListItem-root.Mui-selected {
    background: none !important;
}

.MuiMenuItem-gutters {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.classFormControl .MuiSelect-selectMenu {
    font-size: 14px;
}

.autoMenu_element {
    position: relative;
    width: 128px;
    height: 30px;
    background: #fff;
    border: none;
    transition: all 0.3s;
}

.autoMenu_element:hover {
    background-color: #f60;
}

.autoMenu_element:first-child {
    border-radius: 5px 5px 0 0;
}

.autoMenu_element:last-child {
    border-radius: 0 0 5px 5px;
}

.autoMenu_element_textBlock {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    line-height: 30px;
}

.autoMenu_element_picture {
    position: absolute;
    right: 2%;
    top: -2px;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.autoMenu_element_text {
    position: absolute;
    left: 32px;
    width: 90px;
    height: 100%;
    text-align: left;
    font-weight: 400;
    font-size: 9pt;
    color: #fff;
}

.MuiMenu-paper::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 5px;
    height: 0px
}

.MuiMenu-paper:-webkit-scrollbar-track {
    background-color: rgb(240, 240, 240);
}

.MuiMenu-paper::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #ccc;
}

.MuiMenu-paper::-webkit-scrollbar-thumb:hover {
    background-color: rgb(240, 240, 240);
}

.MuiMenu-paper::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

.MuiMenu-paper::-webkit-scrollbar {
    width: 4px;
}