@import '../driverProfile/DriversProfileComments.css';
.placesPanel_sortText {
    color: #304269;
    margin-right: 30px;
    line-height: 35px;
}

.placesPanel_buttonStyle {
    height: 24px;
    line-height: 100%;
}

.placesPanel_rightButtonBlock {
    margin-left: auto;
}