.block_element_infoBlock {
    justify-content: space-between;
    height: 100%;
    padding: 0 33px;
    color: #304269;
}

.block_element_infoBlock_top {
    margin-bottom: 9%;
}

.block_element_infoBlock_name {
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    color: #304269;
}

.block_element_infoBlock_element {
    justify-content: space-between;
    text-align: left;
    /* width: 50%; */
}

.block_element_infoBlock_element div:last-child {
    width: 60%;
}

.infoString_driverInfoSize {
    /*width: 80px;*/
}

@media (max-width: 990px) {
    .block_element_infoBlock {
        justify-content: space-between;
        height: 100%;
        padding: 0 5px;
        color: #304269;
    }
}

@media (max-width: 586px) {}