.element_right_line{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.tripBlock_carImage{
  display: flex;
  width:15%;
  height: 10%;
}
 
.tripBlock_carData{
  display: flex;
  flex-direction: column;
  width:80%;
  margin-left: auto;
  height: 100%;
  text-align: top;
}

.tripBlock_priceBlock{
  display: flex;
  text-align: center;
  width:15%;
  height: 15%; 
}
.tripBlock_priceBlock_price{
  display: flex;
  margin: auto;
  font-family: "Roboto Bold";
  font-size: 1.3rem;
  color: #ff6600;
}

.tripBlock_buttonBlock{
  display: flex;
  flex-direction: column;

  width:80%;
  height: 20%;
  margin-left:auto;
  padding: 2% 0;
}
.tripBlock_buttonBlock_button{
  display: flex;
  height: 15%;
  width: 100%;
  background-color: #304269;
  border-color: #304269;
  margin: 0 auto;
  border-radius: 5px;
}
.drivers_block_element:hover .tripBlock_buttonBlock_button{
  background-color: #ff6600;
  border-color:#ff6600;
}

.buttonBlock_button_value{
  display: flex;
  font-family: "Roboto Medium";
  font-size: 0.9rem;
  color: #ffffff;
  border-radius: 5px;
  margin: 0 auto;
}

.tripBlock_buttonBlock_commentary{
  display: flex;
  font-size:0.59rem;
  color: #304269;
  font-family: "Roboto Regular";
  margin: 0 auto;
}
.tripBlock_detailed{
  display:flex;
  margin: auto 0 0 auto;
  font-size: 0.8rem;
  color: #304269;
  font-family: "Roboto Medium";
}
.drivers_block_element:hover .tripBlock_detailed{
  color: #ff6600;
}

.carInfo_line{
  display: flex;
  flex-direction: row;
}
.carBrand_style{
    display: flex;
    font-family: "Roboto Medium";
    font-size: 1.2rem;
    text-align: top;
}
.fuelType_style{
    font-family: "Roboto Regular";
    font-size: 1rem;
    text-align: top;
    padding-top: 1.5%;
    margin-left: 2%;
}
.carProps_style{
    font-family: "Roboto Regular";
    font-size: 1rem;
}
.hidden_enter_carBrand{
    visibility: hidden;
    float: left;
}
@media (min-width: 1350px){
  .tripBlock_priceBlock_price {font-size: 1.5rem}
  .buttonBlock_button_value {font-size: 0.9rem}
  .tripBlock_buttonBlock_commentary {font-size: 0.8rem}
  .tripBlock_detailed {font-size: 1rem}
  .carBrand_style {font-size: 1.3rem}
  .fuelType_style {font-size: 1.1rem}
  .carProps_style {font-size: 1.1rem}
}