
.element_right_line:nth-child(1) {
    margin-bottom: 20px;
}

.tripBlock_carImage {
    width: 55px;
    /*height: 10%;*/
    background-size: 55px 40px;
}

.tripBlock_carData {
    width: 256px;
    margin-left: auto;
    height: 100%;
    text-align: top;
}

.tripBlock_priceBlock {
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: 18pt;
    color: #ff6600;
    margin-top: 25px;
}

.tripBlock_buttonBlock_button {
    justify-content: center;
    font-weight: 500;
    font-size: 12pt;
    color: #fff;
    height: 100%;
    min-height: 42px;
    width:256px;
    max-width: 300px;
    margin-left: auto;
    background-color: #304269;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.tripBlock_buttonBlock_button:hover  {
    transition: all 0.3s;
    background-color: #ff6600;
    border-color: #ff6600;
}

.tripBlock_buttonBlock_commentary {
    font-size: 9pt;
    color: #304269;
    font-weight: 400;
    text-align: right;
}

.tripBlock_detailed {
    justify-content: flex-end;
    font-size: 9pt;
    color: #304269;
    font-weight: 400;
    margin-top: 10px;
    text-align: right;
}

.tripBlock_detailed:hover  {
    transition: all 0.3s;
    color: #ff6600;
    cursor: pointer;
}

.carInfo_line {
    align-items: center;
}

.carBrand_style {
    font-weight: 500;
    font-size: 12pt;
    text-align: top;
}

.fuelType_style {
  font-weight: 400;
    font-size: 12pt;
    text-align: top;
    margin-left: 2%;
}

.carProps_style {
  font-weight: 400;
    font-size: 10.5pt;
}

.hidden_enter_carBrand {
    visibility: hidden;
    float: left;
}

/* @media (min-width: 1350px) {
    .tripBlock_priceBlock_price {
        font-size: 1.5rem
    }
    .buttonBlock_button_value {
        font-size: 0.9rem
    }
    .tripBlock_buttonBlock_commentary {
        font-size: 0.8rem
    }
    .tripBlock_detailed {
        font-size: 1rem
    }
    .carBrand_style {
        font-size: 1.3rem
    }
    .fuelType_style {
        font-size: 1.1rem
    }
    .carProps_style {
        font-size: 1.1rem
    }
} */