
.drivers_top_background{
  display: flex;
  flex-direction: column;
  top:0;
  width:100%;
  height: auto;
  background: url(pictures/drivers_header_background.png) no-repeat;

  padding:0% 17% 1% 17%;
}
 
.drivers_bottom_background{
  display: flex;
  flex-direction: column;
  top:25%;
  width:100%;
  
  padding:0% 17% 1% 17%;
}
@media (max-width: 1150px){
  .drivers_top_background {padding: 0% 5% 1% 5%;}
  .drivers_bottom_background { padding: 0% 5% 1% 5%;}
}
@media (max-width: 900px){
  .drivers_top_background {padding: 0;}
  .drivers_bottom_background { padding: 0;}
}