.drivers_header{
  position:absolute;
  top:34px;
  width:1200px;
  height:36px;
  left:0;
  right: 0;
  margin: auto;
}
.drivers_header_label{
  position:absolute;
  top:0px;
  left:0px;
  width:240px;
  height: 34px;
  background: url(pictures/drivers_header_label.png) no-repeat;
}
.drivers_header_earth{
  position:absolute;
  top:0px;
  left:268px;
  width: 31px;
  height: 34px;
  background: url(pictures/drivers_header_earth.png) no-repeat;
}
.drivers_geo_button{
  position: absolute;
  top:0px;
  left:305px;
  width: 47px;
  height: 31px;
  background: url(pictures/drivers_geo_button.png) no-repeat;
}
.drivers_user{
  position: absolute;
  top:0px;
  right: 0px;
  width: 45px;
  height:100%;
}
.drivers_user_photo{
  position:absolute;
  top:0px;
  left:0px;
  background: url(pictures/drivers_user_image.png) no-repeat;
  width: 29px;
  height: 29px;
}
.drivers_user_arrow{
  position: absolute;
  top:0px;
  right: 0px;
  background: url(pictures/drivers_user_arrow.png) no-repeat;
  width: 13px;
  height: 29px;
}
.drivers_header_language{
  position: absolute;
  top: 0px;
  right: 157px;
  width: 52px;
  height: 28px;
  background: url(pictures/drivers_header_button.png) no-repeat;
}
.drivers_language_value{
  position:absolute;
  left:20px;
  top:6px;
  width:25px;
  font-size: 12px;
  color:#304269;
  font-family: "Roboto Medium";
}
.drivers_language_flag{
  position:absolute;
  left:4px;
  width:13px;
  top:10px;
  height:9px;
  background: url(pictures/drivers_flag.png) no-repeat;
}
.drivers_header_currency{
  position: absolute;
  top:0px;
  right: 215px;
  width: 52px;
  height: 28px;
  background: url(pictures/drivers_header_button.png) no-repeat;
}
.drivers_currency_value{
  position:absolute;
  left:3px;
  top:6px;
  width:40px;
  font-size: 12px;
  color:#304269;
  font-family: "Roboto Medium";
}
.drivers_header_buttonMass{
  position:absolute;
  text-align: center;
  right: 330px;
}
.drivers_buttonMass_button{
  top:0px;
  height: 30px;
  border: none;
  background-color: transparent;

  font-family: "Roboto Medium";

  font-size: 16px;
  color:#ffffff;
  margin: 0px 12.5px 0px 12.5px;
}
