.drivers_properties_languageMenu {
    position: absolute;
    top: 34px;
    right: 0px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgb(236, 236, 236);
    z-index: 4;
}

.languageMenu_element {
    position: relative;
    width: 116px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    cursor: pointer;
}

.languageMenu_element:hover {
    transition: all 0.3s;
    background-color: #91bed4;
}

.textBlock_value {
    position: absolute;
    display: inline-block;
    left: 30px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 9pt;
    color: #304269;
    background-color: transparent;
}