.drivers_properties_valueMenu{
    position: absolute;
    top:34px;
    right: 0px;
    
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgb(236, 236, 236);

    width: 200px;
    height: 82px;

    background-color: #ffffff;
    z-index: 4;
}
.valueMenu_valueBlock{
    position: absolute;
    top: 0px;
    left: 10px;
    width: 180px;
    height: 45px;
    background-color: black
}
.valueMenu_borderElement{
    position: absolute;
    top: 0px; 
    font-size: 9pt;
    font-family: "Roboto Regular";
}
.valueMenu_leftBorder{   
    left:10px;     
}
.valueMenu_rightBorder{
    right: 10px; 
}
.valueMenu_selectBlock{
    position: absolute;
    top:20px;
    width: 180px;
    left:10px;
    height: 30px;
}
.valueMenu_selectBlock_sliderLine{
    position: absolute;
    top:0px;
    height: 50%;
    width: 100%;
    border-bottom: 2px solid black;
}
.valueMenu_selectBlock_selectBall{
    position: absolute;
    width: 10px;
    height: 10px;
    top:10px;
    
    border-radius: 5px;
}
.valueMenu_selectBlock_leftBall{
    left:0px;
    background-color: #ffffff;
    box-shadow: 0 0 1px 1px rgb(236, 236, 236);
}
.valueMenu_selectBlock_rightBall{
    right: 0px;
    background-color: #304269;
    box-shadow: 0 0 1px 1px rgb(236, 236, 236);
}
.valueMenu_stateBlock{
    position: absolute;
    bottom: 0px;
    right: 10px;
    height: 25px;
    width: 155px;
    font-size:9pt;
    font-family: "Roboto Regular";

}
.valueMenu_stateBlock_applyButton{
    right: 0px;
    color: #304269
    
}
.valueMenu_stateBlock_cancelButton{

    right: 65px;
    color: #b2b2b2;

}
.valueMenu_stateBlock_buttonStyle{
    position: absolute;
    top: 0px;
    height: 100%;
    text-align: center;
    line-height: 15px;
    border: none;
    font-size: 9pt;
    font-family: "Roboto Regular";
    background-color: transparent
}