/* modalStartInformation Begin */

.modalStartInformation {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

.modalStartInformation_logo {
    width: 100px;
    height: 40px;
    margin: 0;
    margin-left: 5px;
    background: url(../media/logo_tripfer_blue.svg) no-repeat;
    background-size: 100% 100%;
    margin-right: auto;
}

.modalStartInformationSkip {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #304269;
    text-transform: uppercase;
    transition: ease 0.3s;
}

.modalStartInformationSkip:hover {
    color: #f60;
}

.modalStartInformationDivNext {
    cursor: pointer;
    background: #304269;
    border-radius: 2px;
    margin: 4px auto;
}

.modalStartInformationNext {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    transition: ease 0.3s;
    padding: 10px 0px;
}


/* .modalStartInformationNext:hover {
    color: #f60;
} */

.modalStartInformationContentmodal,
.modalStartInformationContent {
    position: relative;
    height: 75%;
    /* scroll-snap-type: x proximity; */
    /* scroll-snap-type: x mandatory; */
    /* scroll-snap-points-x: repeat(100%);
    scroll-snap-destination: 100% 0; */
    overflow-x: hidden;
    overflow-y: hidden;
    /* scroll-behavior: smooth; */
}

.modalStartInformationContentText span {
    color: #304269;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
}

.modalStartInformationContentText p {
    color: #686868;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}


/* .modalStartInformationContentText:nth-child(2) p {
    margin-bottom: 21px;
} */

.buttonChenge {
    height: 5%;
}

.buttonChenge span {
    cursor: pointer;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    border: 1px solid #686868;
    border-radius: 50%;
    transition: all 0.3s;
    background: transparent;
}

.buttonChenge span.activeBtChenge {
    background: #304269;
    transition: all 0.3s;
}

.modalStartInformationContentmodal::-webkit-scrollbar,
.modalStartInformationContent::-webkit-scrollbar {
    display: none !important;
}

.modalStartInformationContent div {
    scroll-snap-align: center;
    min-width: 100vw;
}

.modalStartInformationContentmodal div {
    scroll-snap-align: center;
    min-width: 100%;
}

.iconImg {
    width: 295px;
    height: 305px;
    background-size: 100% 100%!important;
    object-fit: cover !important;
    background-repeat: no-repeat !important;
    margin-bottom: 20px;
}

@media (max-width: 1366px) {
    .iconImg {
        width: 295px;
        height: 200px;
        background-size: 100% 100%!important;
        object-fit: cover !important;
        background-repeat: no-repeat !important;
        margin-bottom: 20px;
    }
}