.home_window {
    background: url(../media/tbs_4.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.home_block {
    max-width: 1200px !important;
    width: 100%;
    margin: 0 auto;
}

.home_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}

.homeBottom {
    max-width: 1200px !important;
    width: 100%;
    margin: 0 auto;
}

div.homeBottomIcomRout {
    padding: 0 10px !important;
    padding-bottom: 30px !important;
}

.homeBottomTitle {
    color: #304269;
    font-weight: 500;
    font-size: 20px;
}

h2.homeBottomTitle {
    color: #304269;
    font-weight: 500;
    font-size: 18pt;
    margin-top: 50px;
    margin-bottom: 30px;
}

.homeBottomTitle span {
    color: #304269;
    font-weight: 100;
    font-size: 20px;
}

.homeBottomText {
    color: #304269;
    font-weight: 400;
    font-size: 12px;
}

.homeBottomLink {
    border: 1px solid #f60;
    border-radius: 5px;
    color: #f60;
    font-weight: 500;
    font-size: 11.25pt;
    padding: 16px 65px 16px 66px;
}

.homeBottomLink:hover {
    text-decoration: none;
    background: #f60;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.text_changeBodyBlock {
    display: none;
}

.text_changeBodyBlock_element {
    display: inline-block;
    -webkit-box-flex: left;
    -ms-flex: left;
    flex: left;
    width: 50%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 200%;
    background-color: transparent;
    color: #ffffff;
}

.changeBodyBlock_element_left {
    border-radius: 10px 0 0 10px;
}

.changeBodyBlock_element_right {
    border-radius: 0 10px 10px 0;
}

.changeBody_element_select {
    color: #304269;
    background-color: #ffffff;
}

.homeSubscribe {
    min-height: 600px;
    max-width: 1200px !important;
    background: url(../media/BackgroundPeople.jpg) 100% 100% no-repeat;
    background-size: contain;
    background-position: left 50px top 110px;
}

.homeSubscribeButton {
    background: #304269;
    color: #fff;
    outline: none;
    border: 1px solid #304269;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    min-height: 38px;
    min-width: 152px;
    border-radius: 0 5px 5px 0;
    transition: ease 0.3s;
}

.homeSubscribeInput:focus,
.homeSubscribeButton:focus {
    outline: none;
}

.homeSubscribeButton:hover {
    background: #f60 !important;
    border-color: #f60 !important;
}

.homeSubscribeButton:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.homeSubscribeInput {
    border: 1px solid #304269;
    color: #686868;
    font-weight: 400;
    font-size: 18px;
    min-height: 38px;
    width: 80%;
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
}

.homeSubscribeInput::placeholder {
    color: #686868;
}

.homeSubscribeInput:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.homeSubscribe h2 {
    color: #333;
    font-weight: 500;
    font-size: 34px;
}

.homeSubscribe span {
    color: #333;
    font-weight: 400;
    font-size: 16px;
}

.homeSubscribe p {
    color: #686868;
    font-weight: 400;
    font-size: 12px;
}

.homeSubscribe p a {
    color: #304269;
    font-weight: 400;
    font-size: 12px;
}

.homeSubscribe p a:hover {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    color: #f60;
}

@media (max-width: 1140px) {}

@media (max-width: 768px) {
    .home_block {
        padding: 0 !important;
    }
    .homeSubscribe {
        background: none;
    }
    .homeSubscribe p {
        text-align: center;
    }
    .homeSubscribe {
        min-height: 400px;
    }
}

@media (max-width: 576px) {
    .home_window {
        background: none;
    }
    .home_block {
        padding: 0 !important;
    }
    .homeBottomText {
        text-align: center;
    }
    .homeSubscribe span {
        text-align: center;
    }
    .homeSubscribe h2 {
        color: #333;
        font-weight: 500;
        font-size: 34px;
        text-align: center;
    }
    .homeSubscribeInput {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .homeSubscribeInput::placeholder {
        text-align: center;
    }
    .homeSubscribeButton {
        border-radius: 5px;
    }
}