.home_window {
    background: url(bachground.jpg) 100% 100% no-repeat;
    background-size: cover;
}

.home_header {
    max-width: 1200px;
    width: 100%;
    padding: 0 10px !important;
}

.home_block {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.home_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeBottom {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.homeBottomTitle {
    color: #304269;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14.29pt;
}

h2.homeBottomTitle {
    color: #304269;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18pt;
    margin-top: 50px;
    margin-bottom: 30px;
}

.homeBottomTitle span{
    color: #304269;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 14.29pt;
}

.homeBottomText {
    color: #304269;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 9pt;
}

.homeBottomLink{
    border: 1px solid #f26101;
    border-radius: 5px;
    color: #f26101;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 11.25pt;
    padding: 16px 65px 18px 66px;
}
.homeBottomLink:hover{
    text-decoration: none;
    background: #f26101;
    color: #fff;
    transition: all 0.3s;
}


.text_changeBodyBlock {
    display: none;
}

.text_changeBodyBlock_element {
    display: inline-block;
    flex: left;
    width: 50%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 200%;
    background-color: transparent;
    color: #ffffff;
}

.changeBodyBlock_element_left {
    border-radius: 10px 0 0 10px;
}

.changeBodyBlock_element_right {
    border-radius: 0 10px 10px 0;
}

.changeBody_element_select {
    color: #304269;
    background-color: #ffffff;
}

.homeSubscribe{
    min-height: 600px;
    max-width: 1200px !important;
    background: url(BackgroundPeople.jpg) 100% 100% no-repeat;
    background-size: contain;
    background-position: left 50px top 110px;
}

.homeSubscribeButton{
    background: #304269 !important;
    color: #fff;
    border-color: #304269 !important;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
}   

.homeSubscribeInput{
    border: 1px solid #304269 !important;
    color: #999 !important;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
}

.homeSubscribe h2{
    color: #333;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 34px;
}

.homeSubscribe span{
    color: #333;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
}

.homeSubscribe p{
    color: #999;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
}

.homeSubscribe p a{
    color: #279fcd;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
}
.homeSubscribe p a:hover{
    transition: all 0.3s;
    text-decoration: none;
    color: #f26101;
}