.home_window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url(bachground.jpg) 100% 100% no-repeat;
    background-size: cover;
}

.home_block {
    width: 1200px;
    margin: 0 auto;
}

.home_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4% 0 3% 0;
}

.home_body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 80%;
    height: 100%;
    color: white;
    background: none;
    margin: auto;
}

.text_changeBodyBlock {
    display: none;
}

.text_changeBodyBlock_element {
    display: inline-block;
    flex: left;
    width: 50%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 200%;
    background-color: transparent;
    color: #ffffff;
}

.changeBodyBlock_element_left {
    border-radius: 10px 0 0 10px;
}

.changeBodyBlock_element_right {
    border-radius: 0 10px 10px 0;
}

.changeBody_element_select {
    color: #304269;
    background-color: #ffffff;
}

@media (max-width: 1200px) {
    .home_block {
        width: 1024px;
        margin: 0 auto;
    }
}

@media (max-width: 1040px) {
    .home_block {
        width: 760px;
        margin: 0 auto;
    }
}