.text_firstLine {
    text-align: center;
    font-size: 37px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    min-height: 40px;
    margin-top: 81px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 20px;
    background: rgba(48, 66, 105, 0.9);
    border-radius: 5px 5px 0 0;
}

.text_secondLine {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    padding-bottom: 20px;
    background: rgba(48, 66, 105, 0.9);
}


/* @media (max-width: 360px) {
    .text_firstLine {
        font-size: 20px;
        color: #ffffff;
        text-transform: none
    }
    .text_secondLine {
        font-size: 12px;
        color: #ffffff;
        padding: 0 40px 20px 40px
    }
} */