.text_firstLine {
    text-align: center;
    font-size: 34.5pt;
    color: #304269;
    font-weight: 700;
    text-transform: uppercase;
    height: 40px;
    margin-top: 81px;
    margin-bottom: 20px;
}

.text_secondLine {
    font-size: 13.5pt;
    text-align: center;
    font-weight: 400;
    color: #304269;
    margin-bottom: 46px;
}


/* @media (max-width: 360px) {
    .text_firstLine {
        font-size: 20px;
        color: #ffffff;
        text-transform: none
    }
    .text_secondLine {
        font-size: 12px;
        color: #ffffff;
        padding: 0 40px 20px 40px
    }
} */