.tourInfoBlock{
    position: relative;
    background: rgba(48, 66, 105, 0.6);
    border-radius: 5px;
    padding: 25px 0px !important;
    margin: 20px 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.tourInfoContent p{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
}
.tourInfoContent input{
    min-height: 44px;
    border-radius: 5px;
    border: none;
    background: #fff;
}

.tourInfoContent .tourInfoContentBt{
    cursor: pointer;
    padding: 10px 60px;
    background: #304269;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.tourInfoContent .tourInfoContentBt:hover{
    background: #f60;
}

.searchDropdownTourInfoContent {
    position: absolute;
    z-index: 34;
    top: 75px;
    left: 12%;
    width: 300px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.searchInputTourInfoContent{
    color: rgba(0, 0, 0, 0.6);
    padding: 0px 10px;
    background: #fff;
}

.searchInputTourInfoContent::placeholder{
    color: rgba(0, 0, 0, 0.6);
    padding: 0px 15px;
    background: url(../media/geo_icon.svg) no-repeat;
    background-size: 13px 16px;
    background-position: left center;
}

.searchInputTourInfoContent:focus {
    text-decoration: none;
    border: none;
    outline: none;
}

 .calendarModal.tourInfoContentDate{
     max-height: 44px;
    background-color: #fff !important;
    line-height: 15px;
}
.calendarModal.tourInfoContentDate input{
    background-size: 14px 14px;
    background-position: top 16px right 10px;
}

.tourInfoContentDate div{
    color: rgba(0, 0, 0, 0.6) !important;
    padding-bottom: 2px;
}

.dropdownClass.tourInfoContentDate.MuiInputBase-root{
    min-height: 44px;
    border-radius: 5px !important;
    background-color: #fff !important;
    color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
    .tourInfoContent p{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .searchInputTourInfoContent{
        margin-bottom: 10px;
    }
    .calendarModal.tourInfoContentDate {
        max-height: 44px !important;
        border: none !important;
        margin-bottom: 5px;
    }
    .calendarModal.tourInfoContentDate input {
        padding-top: 0px !important;
    }

    .calendarModal.tourInfoContentDate hr{
        display: none !important;
    }
    .dropdownClass.tourInfoContentDate.MuiInputBase-root{
        min-height: 44px;
        padding: 0px 10px;
        max-width: 100%;
        margin-bottom: 10px;
    }
}