@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');

.placesCountryInfo {
    width: 100%;
    height: 50%;
    margin: 5% auto;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    color: #fff;
    background: rgba(44, 66, 108, 0.8);
    text-indent: 1em;
}

.placesCountryInfo_countryName {
    text-align: center;
    font-size: 48px;
    font-family: "Roboto Slab";
    font-weight: bold;
}

.placesCountryInfo_countryName::after {
    content: "";
    display: block;
    width: 10%;
    margin: 1% auto;
    /*vertical-align: middle;*/
    border-bottom: 3px solid #ff6600;
}


/* .placesCountryInfo_line{
    width: 100px;
    height: 100px;
    background-color: black;
    border-bottom: 1px solid #ff6600;
} */

.placesCountryInfo_countryinfo {
    font-size: 14px;
    font-weight: 400;
}

.placesCountryInfo_countryData {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 2%;
}

.placesCountryInfo_countryData_element {
    display: flex;
    flex-direction: column;
    width: 14%;
    height: 100%;
    padding: 0 2%;
}

.countryData_element_icon {
    padding: 0 25%;
    display: flex;
}

.countryData_element_text {
    text-align: center;
    display: flex;
    font-size: 12px;
    font-weight: 300;
    margin-top: 5%;
}

.countryData_element_text text {}

.countryData_textStyle {
    text-align: center;
    width: 100%;
    font-family: "Roboto"
}

.countryData_smallText{
    font-weight: 300;
    font-size: 12px;
}
.countryData_bigText{
    font-weight: 400;
    font-size: 14px;
}
@media (max-width: 768px) {
    .placesCountryInfo_countryName {
        font-size: 27px;
        line-height: 27px;
    }

    .placesCountryInfo_countryName::after {
        width: 50%;
        margin: 4% auto;
    }

    .placesCountryInfo {
        margin: 0;
        border-radius: 0px;
        color: #fff;
        background: rgba(48, 66, 108, 0.8);
    }
}

@media (max-width: 518px) {
    .placesCountryInfo_countryName {
        font-size: 20px;
        line-height: 27px;
    }

    .placesCountryInfo_countryName::after {
        width: 50%;
        margin: 4% auto;
    }
}