.toursBookBt {
    background: #304269;
    min-height: 50px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0 0 5px 5px;
    transition: all 0.3s;
}

.toursBookBt:hover {
    background: #f60;
}

.toursDate{
    position: absolute;
    z-index: 17;
    left: 0;
    background: #fff;
    color: #686868;
    font-weight: 400;
    padding: 2px 5px;
    font-size: 13px;
    border-radius: 5px 0px 5px 0px;
}

.toursNumberPeoples div{
    color: #304269;
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 2px;
}