.header {
    margin-top: 30px;
}


.modalCountry h4 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 24px;
    color: #333;
}

.modalCountryButtton {
    position: absolute;
    top: 20px;
    right: 5px;
    background: none;
    outline: none;
    border: none;
}

.modalCountryButtton:focus {
    outline: none;
}

.headerLogo {
    padding-left: 0px !important;
    max-width: 480px !important;
}

.logo{
    width: 240px;
    height: 30px;
    margin-right: 20px;
    background: url(./pictures/logo_blue.svg);
    background-size: 240px 30px;
}

.headerLogo img {
    padding-left: 0px;
}

.header_geo_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0px !important;
}

.header_geo_button {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.header_geo_button:hover {
    text-decoration: none;
    outline: none;
}

.geo_button_value {
    min-width: 50px;
    width: 100%;
    height: 28px;
    border-radius: 5px;
}

.geo_button_value>div {
    height: 22px;
    max-width: 40px;
    line-height: 28px;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px dashed #ccc;
}

.geo_button_value span {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    padding-left: 10px;
   
}

.hederGeoIcon{
    background: url(./pictures/location_white.svg) no-repeat;
    background-size: contain;
    background-position: top 0px right 25px;
}
.geo_button_value img {
    margin-bottom: 2px;
}

.header_buttonMass {
    padding-left: 0px !important;
}

.buttonMass_button {
    text-decoration: none;
    background-color: transparent;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12pt;
    margin: 0px 15px;
}

.buttonMass_button:hover {
    transition: all 0.3s;
    color: #f60 !important;
}

.buttonMass_button:hover {
    text-decoration: none;
}

.selectСgvicurrency {
    border-radius: 5px;
    margin-right: 5px;
    text-decoration: none;
    outline: none;
    color: #304269;
}

.selectGeneral {
    position: relative;
    font-family: "Roboto" !important;
    font-weight: 500 !important;
    font-size: 10.5pt !important;
    margin: 0;
    margin-right: 5px;
    border-radius: 5px;
    background-color: rgba(48, 66, 105, 0.5) !important;
    background: rgba(48, 66, 105, 0.5) !important;
}

.selectGeneral:hover {
    background-color: rgba(48, 66, 105, 0.9) !important;
    background: rgba(48, 66, 105, 0.9) !important;
}

.selectGeneralBt {
    border: none !important;
    box-shadow: none !important;
    background-color: hsla(221, 37%, 30%, 0.5) !important;
    background: rgba(48, 66, 105, 0.5) !important;
}

.selectGeneral img {
    margin-right: 2px;
    margin-bottom: 2px;
}

.dropdownMenu {
    top: 0px !important;
    left: 0px !important;
    font-family: "Roboto" !important;
    font-weight: 500 !important;
    font-size: 10.5pt !important;
    background: rgba(48, 66, 105, 0.5) !important;
    color: #fff !important;
    padding: 0px !important;
    margin: 0px !important;
    min-width: 60px !important;
    max-width: 80px !important;
}

.currenty {
    text-align: center !important;
}

.dropdownMenu img {
    padding-left: 4px;
}

.headerSelect {
    padding: 0px !important;
    max-width: 305px !important;
    max-height: 30px;
}

.header_registration {
    border: 1px solid #304269;
    border-radius: 5px;
    background: none;
    line-height: 26px;
}

.header_registration:hover {
    transition: all 0.3s;
    border: 1px solid #f60 !important;
}

.header_registration:hover p {
    transition: all 0.3s;
    color: #f60 !important;
}

.header_registration:focus {
    outline: none;
}

.header_registration p {
    width: 100% !important;
    margin: 0 !important;
    text-align: center !important;
    font-size: 12px !important;
    font-family: "Roboto" !important;
    font-weight: 500 !important;
    color: #304269;
}

/* @media (max-width: 1200px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .headerSelect {
        order: 1;
    }
    .header_buttonMass {
        margin: 2% auto;
        order: 2;
    }
    .headerLogo {
        width: 40%;
    }
}

@media (max-width: 1040px) {
    .headerLogo {
        margin-right: 70px;

    }
} */