.homeHeader {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.driverHeader {
    width: 100%;
    background: #304269;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.header {
    min-height: 56px;
    max-width: 1200px;
    margin: 0 auto;
}


/* Mobail header Bigin */

.headerMobail {
    min-height: 60px;
    padding-left: 10px;
    background: #304269;
}

.headerMobail h3 {
    width: 100px;
    height: 40px;
    margin: 0;
    margin-left: 5px;
    background: url(./pictures/logo_tripfer_white.svg) no-repeat;
    background-size: 100% 100%;
    /* background-position: top 0px left 0px; */
}

.headerMobail .headerSelect {
    padding: 0px !important;
    max-height: 30px;
    margin-left: 0;
}

.headerMobailButton {
    width: 24px;
    height: 18px;
    margin-right: 10px;
    outline: none;
    border: none;
    background: url(pictures/menu-button-White.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.headerMobailButton:focus {
    outline: none;
}

.headerMobailButton-active {
    width: 24px;
    height: 18px;
    margin-right: 10px;
    outline: none;
    border: none;
    background: url(pictures/arrowWhite.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    outline: none;
}

.headerMobailButton-active:focus {
    outline: none;
}


/* Mobail header End */


/* Modal Country Bigin */

.modalCountry h4 {
    font-weight: 500;
    font-size: 24px;
    color: #333;
}

.modalCountryButtton {
    position: absolute;
    top: 20px;
    right: 5px;
    background: none;
    outline: none;
    border: none;
}

.modalCountryButtton:focus {
    outline: none;
}


/* Modal Country End */


/* Header Bigin */

.header h3 {
    width: 100px;
    height: 30px;
    margin: 0;
    background: url(./pictures/logo_tripfer_white.svg) no-repeat;
    background-size: 100% 100%;
    /* background-position: top 0px left 0px; */
}

.header a:hover {
    text-decoration: none;
}

.headerGeoBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0px !important;
}

.headerGeoButton span {
    cursor: pointer;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px dashed #fff;
    padding-left: 14px;
    background: url(./pictures/location_white.svg) no-repeat;
    background-size: 18px 15px;
    background-position: top 0px left -2px;
}

.headerGeoButton span:hover {
    text-decoration: none;
    outline: none;
}

.buttonMassLink {
    text-decoration: none;
    background-color: transparent;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    padding: 0px 15px;
    color: #fff;
    line-height: 65px;
}

.buttonMassLink:hover {
    transition: all 0.3s;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.selectGeneral {
    position: relative;
}

.selectGeneralButton {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    font-family: "Roboto" !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #fff !important;
    padding: 0 !important;
    padding-right: 15px !important;
}

.selectGeneralButton:hover {}

.selectGeneral img {
    margin-right: 2px;
    margin-bottom: 2px;
}

.dropdownMenu {
    background: #fff !important;
    font-family: "Roboto" !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #686868 !important;
    padding: 0px !important;
    min-width: 65px !important;
    max-width: 80px !important;
}

.dropdownMenu button:hover {
    text-decoration: underline;
}

.dropdownMenu :nth-child(4) {
    padding-bottom: 5px !important;
}

.currenty {
    text-align: center !important;
}

.dropdownMenu img {
    padding-left: 4px;
}

.headerSelect {
    position: relative;
    padding: 0px !important;
    max-height: 30px;
    margin-left: 18px;
}

.burgerMenu {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 90%;
    top: 60px;
    right: -100%;
    transition: ease 0.5s;
}

.burgerMenu-active {
    /* background: rgba(0, 0, 0, 0.4); */
    right: 0 !important;
}

.burgerMenuBg {
    width: 90%;
    height: 100%;
}

.burgerMenuTop {
    width: 100%;
    height: 40%;
    background: rgb(212, 211, 211);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burgerMenuTop img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.burgerMenuTop .burgerName {
    font-weight: 500;
    font-size: 16px;
    color: #666;
    margin-bottom: 0px;
}

.burgerMenuTop .burgerGeo {
    font-weight: 400;
    font-size: 14px;
    color: #686868;
    padding-left: 20px;
    background: url(./pictures/location_Blue.svg) no-repeat;
    background-size: 20px 25px;
    background-position: bottom 0px left 0px;
}

.burgerMenuBottom {
    width: 100%;
    height: 60%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.burgerMenuBottom span {
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    padding-right: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #686868;
    text-align: right;
    transition: ease 0.3s;
}

.burgerMenuBottom span:hover {
    color: #f60;
    background: rgba(204, 204, 204, 0.5);
}

.headerRegistration span {
    cursor: pointer;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px dashed #fff;
    color: #fff;
    transition: all 0.3s;
    line-height: 15px;
}

.headerRegistration span:hover {}

.headerRegistration span:focus {
    outline: none;
}


/* Header End */