.homeColorClass{
    color: #fff;
}
.homeColorClass2{
    color: #304269;
}
.homeBackgroundColorClass{
    background-color: rgba(48, 66, 105, 0.5);
}
.homeBorderColorClass{
    border-color: #304269;
}
.homeLabelColorClass{
    background: #97a3b4;
    color:#fff;
}
.homeLabelColorClass::after{
    color:#fff;
}
.homeLabelColorClass label{
    background: #97a3b4;
}
.homeLabelColorClass div{
    background: #97a3b4;
}