.homeColorClass{
    color: #fff !important;
}
.homeColorClass2{
    color: #304269 !important;
}
.homeBackgroundColorClass{
    background: rgba(48, 66, 105, 0.637);
}
.homeBackgroundColorClass:hover{
    background: #304269;
}
.homeBorderColorClass{
    border-color: #304269;
}
.homeLabelColorClass{
    background: #97a3b4;
    color:#fff;
}
.homeLabelColorClass::after{
    color:#fff;
}
.homeLabelColorClass label{
    background: #97a3b4;
}
.homeLabelColorClass div{
    background: #97a3b4;
}