.countryBody {
    min-width: 500px;
    max-width: 500px;
    min-height: 400px;
    max-height: 400px;
}

.countryBody p {
    font-weight: 300;
    font-size: 14px;
    color: #686868;
}

.countryBody p:hover {
    cursor: pointer;
    font-weight: 400;
    color: #333;
}

.modal-dialog {
    width: 722px !important;
    max-width: none !important;
}

.modal-content {
    width: 722px !important;
}

@media (max-width: 1140px) {}

@media (max-width: 742px) {
    .modal-dialog {
        width: 100% !important;
        margin: 10% 0 !important;
    }
    .modal-content {
        width: 100% !important;
    }
    .modalCountry .countryBody {
        min-width: 250px !important;
        max-width: none !important;
        min-height: 200px !important;
        max-height: none !important;
    }
}

@media (max-width: 576px) {}