.driverInfo_background{
    background-color: #ffffff;  
    padding: 0; 
    margin-top: 35px;
}

.driverInfo_element_left {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: auto;
}
.driverInfo_element_right {
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: auto;
}
.driverInfo_left_line {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
}


.driverInfo_carData {
    flex-direction: row;
    font-size: 14px;
    color: #304269;
    margin: 20px 0 0 15px;
    width: 340px;
}

.driverInfo_carBrand {
    font-weight: 600;
}

.driverInfo_fuelType {
    padding-right: 5px;
    padding-left: 2px;
    border-right: 1px solid #cccccc;
    font-weight: 400;
}

.driverInfo_carProps {
    padding-left: 5px;
    font-weight: 300;
}

.driverInfo_carImage {
    width: 60px;
    height: 50px;
}

/* .element_right_line:nth-child(1){
    margin: 0;
} */

.driverInfo_iconLine {
    margin-left: 75px;
    line-height: 0px;
    min-height: 16px;
    height: 4%;
}

.driverInfo_iconLine_icon {
    min-width: 16px;
    margin-right: 2%;
    width: 4%;
}

.driverInfo_carPhotoBlock {
    display: flex;
    position: relative;
    width: 300px;
    height: 250px;
    margin: 0 auto;
    min-width: 150px;
    min-height: 100px;
}

.driverInfo_carPhotoBlock_switchCarPicture {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    margin: auto;
    font-family: "Roboto";
    font-size: 16px;
    color: #999999;
    border-radius: 100%;
    cursor: pointer;
}

.driverInfo_carPhotoBlock_switchCarPicture:hover {
    background-color: #304269;
    color: #999999;
}
.driverInfo_carPhotoBlock_switchCarPicture:focus {
    border: none;
    outline: none;
}



.album_photo {
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    overflow: hidden;
}

.carImageStyles {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}