.driverAdaptedRoute_bottomBlock{
    width: 100%;
}
.driversAdaptedRoute_price{
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: #ffffff;
}
.driversAdaptedRoute_sendRequest{
    width: 260px;
    height: 40px;
    background-color: #ff6600;
    border: 1px solid #ff6600;
    border-radius: 5px;

    margin: 0 auto;

    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}
.driversAdaptedRoute_requestCommentary{
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
}
.driversAdaptedRoute_routeBlock{
    
    display: flex;
    flex-direction: row;
    width: 100%;

}

.driverAdaptedRoute_show_element{
    width: 225px;
    
}

.driverAdaptedRoute_show_text{

}
.driverAdaptedRoute_show_line{
    border-bottom: 3px solid;
    width: 183px;
    margin-left: 9px;
    height: 24px;
}