.driverInfo_background{
    background-color: #ffffff;   
}
.driverInfo_element_left{
    width: 58.5%;
    flex-direction: column;
    margin-top: 1.5%;
    margin-bottom: auto;
}
.driverInfo_left_line{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.driverInfo_element_right{
    width: 41.5%;
}

.driverInfo_carData{
    flex-direction: row;
    font-size: 14px;
    color: #304269;
    margin: auto 0 auto 3%;
}
.driverInfo_carBrand{
    font-weight: 600;
}
.driverInfo_fuelType{
    padding-right: 2%;
    padding-left: 2px;
    border-right: 1px solid #cccccc;
    font-weight: 400;
}
.driverInfo_carProps{
    padding-left: 2%;
    font-weight: 300;
}
.driverInfo_carImage{
    width: 10%;
}
.element_right_line:nth-child(1){
    margin: 0;
}
.driverInfo_iconLine{
    margin-left: 25%;
    line-height: 0px;
    margin-bottom: 5%;
    min-height: 16px;
    height: 4%;
}
.driverInfo_iconLine_icon{
    min-width: 16px;
    margin-right: 2px;
    width: 4%;
}
.driverInfo_carPhotoBlock{
    display: flex;
    position: relative;
    width: 70%;
    height: 75%;
    margin: 0 auto;
    min-width: 150px;
    min-height: 100px;
}
.driverInfo_myHeart{
    height: 8%;
}