.drivers_route {
    background-color: #fff;
    padding: 20px !important;
    border-radius: 0 0 5px 5px;
    max-width: 1200px;
}

.driverAdaptedRoute_bottomBlock {
    width: 100%;
}

.driversAdaptedRoute_price {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: #ffffff;
}

.driversAdaptedRoute_sendRequest {
    height: 40px;
    background-color: #ff6600;
    border: 1px solid #ff6600;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

.driversAdaptedRoute_requestCommentary {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
}

.driversAdaptedRoute_routeBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.driverAdaptedRoute_show_element {
    width: 225px;
}

.driverAdaptedRoute_show_text {}

.driverAdaptedRoute_show_line {
    border-bottom: 3px solid;
    width: 183px;
    margin-left: 9px;
    height: 24px;
}

.driverAdaptedRoute {
    padding: 40px 0;
    flex-wrap: wrap;
}

.driverAdaptedPrice {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.driverAdaptedBt {
    background-color: #ff6600;
    border-radius: 5px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 2px;
    /* padding: 0 20px; */
    width: 100%;
}

.driverAdaptedBt span {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}