.driverInfo_background {
    background-color: #ffffff;
    padding: 0;
    margin-top: 35px;
}


/*
.driverInfo_element_left {
    flex-direction: column;
    
}
.driverInfo_element_right {
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: auto;
}*/

.driverInfo_element {
    margin-top: 25px;
    margin-bottom: 15px;
    height: 325px;
}

.driverInfo_left_line {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.driverInfo_carData {
    flex-direction: row;
    font-size: 14px;
    color: #304269;
    margin: 20px 0 0 15px;
    width: 340px;
}

.driverInfo_carBrand {
    font-weight: 600;
}

.driverInfo_fuelType {
    padding-right: 5px;
    padding-left: 2px;
    border-right: 1px solid #cccccc;
    font-weight: 400;
}

.driverInfo_carProps {
    padding-left: 5px;
    font-weight: 300;
}

.driverInfo_carImage {
    width: 60px;
    height: 50px;
}


/* .element_right_line:nth-child(1){
    margin: 0;
} */

.driverInfo_data div:last-child {
    width: 65%;
}

.driverInfo_iconLine {
    margin-left: 75px;
    line-height: 0px;
    min-height: 16px;
}

.driverInfo_iconLine_icon {
    width: 16px;
    margin-right: 10px;
}

.driverInfo_carPhotoBlock {
    display: flex;
    position: relative;
    width: 300px;
    height: 250px;
    margin: 0 auto;
    min-width: 150px;
    min-height: 100px;
}

.driverInfo_carPhotoBlock_switchCarPicture {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin: auto;
    font-size: 16px;
    color: #686868;
    border-radius: 100%;
    cursor: pointer;
}

.driverInfo_carPhotoBlock_switchCarPicture:hover {
    background-color: #304269;
    color: #686868;
}

.driverInfo_carPhotoBlock_switchCarPicture:focus {
    border: none;
    outline: none;
}

.album_photo {
    position: relative;
    width: 300px;
    overflow: hidden;
}

.carImageStyles {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.driverInfo_bookmarkElement {
    margin-left: auto;
    background-size: 20px 25px;
    background: url('../drivers/DriversBody/DriversBlock/pictures/bookmark_contour.svg');
    width: 20px;
    height: 25px;
}

.driverInfo_bookmarkElement:hover {
    background: url('../drivers/DriversBody/DriversBlock/pictures/bookmark_orange.svg');
}

.driversInfo_driverName {
    line-height: 18px;
    padding-bottom: 10px;
}

.driverInfo_informationIcon {
    position: inherit;
    top: -9px;
    width: 18px;
    height: 18px;
}

.driverInfo_informationIcon:hover .driverInfo_informationBlock {
    /*display: block;*/
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 1);
}

.driverInfo_informationIcon:hover .driverInfo_comfortIconStyle {
    visibility: visible;
}

.driverInfo_informationBlock {
    position: absolute;
    /*display: none;*/
    top: 30px;
    left: -101px;
    width: 220px;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0);
    transition: 0.3s all;
}

.driverInfo_comfortIconStyle {
    visibility: hidden;
    width: 15px;
    height: 15px;
}

.driverInfo_comfortTextStyle {
    margin: auto 0 auto 8px;
    width: 185px;
    font-size: 12px;
}

.driverInfo_carTypeValue {
    margin: auto 0 auto auto;
    line-height: 18px;
    color: #686868;
    padding-bottom: 10px;
}