.body_menu {
    padding: 0px;
    border-radius: 5px 0 0 5px;
    background-color: #304269;
    min-height: 540px;
    /* min-width: 350px; */
    margin-bottom: 220px;
}

.body_map {
    padding: 0px;
    border-radius: 0 5px 5px 0;
    margin-bottom: 220px;
}

.mobailRoutMenu {
    background: #304269;
    padding-bottom: 120px;
    height: 100vh;
}

.mobailRoutMenuTitle {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
}

.mobailRoutMenuText {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}

.mobailRoutMenuBtList {
    padding: 10px 22px;
    border: 1px solid #fff;
    border-radius: 50px 0 0 50px;
    border-right: none;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.mobailRoutMenuBtMap {
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 0 50px 50px 0;
    border-left: none;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.mobailRoutMenuBt-active {
    background: #fff;
    color: #304269;
}

.mapContain {
    height: 25vh!important;
}


/* @media (max-width: 360px){
  .body_map {display: none}
  .body_menu {width: 100%; height: auto}
} */