.routemenu_container {
    padding: 0px !important;
}

.routemenu_addCity {
    cursor: pointer;
    min-height: 41px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.routemenu_addCity img {
    max-width: 35px;
    cursor: pointer;
}

.routemenu_city_add_text {
    cursor: pointer;
    height: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    padding-left: 25px;
    background-size: 15px 15px !important;
    background-position: center left !important;
}

.routemenu_setDate {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.routemenu_date {
    cursor: pointer;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin: 2px;
    padding: 0 15px;
    max-height: 41px;
    min-height: 41px;
}

@keyframes glowingRoute {
    0% {
        background: rgba(37, 165, 154, 0.911);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    50% {
        background: none;
    }

    100% {
        background: rgba(37, 165, 154, 0.911);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}

.routemenu_date-Check {
    animation: glowingRoute 2s infinite;
    cursor: pointer;
}

.routemenu_date div {
    cursor: pointer !important;
    width: 100% !important;
    color: #fff !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    top: 1px;
    max-height: 41px;
    line-height: 41px;
}

.routemenu_date input {
    cursor: pointer !important;
    color: #fff !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    background: url(../../media/calendar.svg) no-repeat;
    background-size: 20px 20px;
    background-position: top 10px right 5px;
    max-height: 41px;
}

.routemenu_date hr {
    display: none;
}


/* .routemenu_date hr {
    width: 90% !important;
} */

.routemenu_date:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: white;
}

.routemenu_parameters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: none !important;
    border-radius: 5px;
    cursor: pointer;
}

.routemenu_parametersAdd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3);
    min-height: 41px;
    width: 100%;
    border-radius: 5px;
    margin: 2px;
}

.routemenu_parametersAdd p {
    margin: 0;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    padding-right: 25px;
    background-position: center right !important;
}

.routemenu_parametersAdd img {
    margin: auto 10px;
}

.peopleMenuHome {
    position: relative;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: start;
    line-height: 48px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 14px;
}

.propertiesPeopleHome img {
    margin-left: 10px;
    margin-right: 10px;
}

.menuHome {
    padding-top: 10px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.menuHome .drivers_properties_peopleMenu {
    top: 50px;
    right: -30px;
}

.menuHome .drivers_properties_autoMenu {
    top: 50px;
    left: 40%;
}

.menuHome .drivers_properties_languageMenu {
    top: 50px;
    right: 30px;
}

.routemenu_search {
    cursor: pointer;
    margin: 2px;
    background-color: #f60;
    border-radius: 5px;
    max-height: 41px;
    min-height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .routemenu_search_button {} */

.addCities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconMass {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    top: 20px;
    padding-left: 12.5px !important;
    max-width: 35px;
}

.geoIcon {
    max-width: 35px;
    margin-bottom: 6px !important;
}


/* img.geoIcon{
    padding-left: 5px !important;
} */

.icon {
    margin-left: 4px;
    margin-bottom: 2px;
}

.crossToolTip {
    cursor: pointer;
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crossToolTipText {
    visibility: hidden;
    width: 160px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 4px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 125px;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 9;
    font-weight: 400;
    font-size: 10px;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}


/* .crossToolTip:hover .crossToolTipText {
    visibility: visible;
    opacity: 1;
} */

.crossIcon {
    cursor: pointer;
    display: block;
    margin: 0;
    width: 15px;
    height: 15px;
    background: url(../../media/close.svg) no-repeat;
    background-size: 15px 15px !important;
}


/* 
.startCity:first-child:hover .crossIcon {
    visibility: hidden !important;
} */

.startCity-CheckInput {
    /* outline: 2px solid rgb(37, 165, 154);
    outline-offset: -1px; */
    animation: glowingRoute 2s infinite;
    /* background: rgba(37, 165, 154, 0.911)!important; */
    border-radius: 5px !important;
    /* transition: all 1s; */
}

.startCity-CheckInput.classDivMobail i {
    cursor: pointer;
    width: 15px !important;
    height: 15px !important;
    background: url(../../media/close.svg) no-repeat !important;
    background-size: 100% 100% !important;
}

.startCity-CheckInput input,
.startCity-CheckInput input::placeholder,
.startCity-CheckInput span {
    color: #fff !important;
}

.startCity-error {
    /* outline: 2px solid #a5252580 !important;
    outline-offset: -1px !important; */
    background: #a52525c7 !important;
}

.startCity-error i {
    cursor: pointer;
    width: 15px !important;
    height: 15px !important;
    background: url(../../media/close.svg) no-repeat !important;
    background-size: 100% 100% !important;
}

.startCity-error span,
.startCity-error input {
    color: #fff !important;
}

.readOnly {
    background: rgb(218, 218, 218) !important;
}

.routemenu_search_text {
    font-size: 10.5pt;
    color: #fff;
}

p.routemenu_search_text {
    margin: 0;
}

.routemenu_comment {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 41px; */
    /* background: rgba(255, 255, 255, 0.3); */
    border-radius: 5px;
    margin: 2px;
}

.routemenu_comment_text {
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #fff;
    font-weight: 400;
}

.city_input {
    position: relative;
    z-index: 3;
    border-radius: 5px;
    border: none;
    background: none;
    color: #fff;
    font-size: 14px;
    min-height: 38px;
    width: 100%;
    padding: 10px;
}

.city_input::placeholder {
    color: #fff;
}

.classDivMobail {
    background: #fff;
    border-radius: 5px;
}

.classDiv {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}


/* .classDiv i {
    cursor: pointer;
    width: 25px;
    height: 40px;
    background: url(../../media/close.svg) no-repeat;
    background-size: 15px 15px;
    background-position: center center;
} */

.classDivMobail i {
    cursor: pointer;
    width: 13px;
    height: 12px;
    background: url(../../media/closeGray.svg) no-repeat;
    background-size: 100% 100%;
}

.classDiv span {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
    width: 20px;
}

.classDivMobail span {
    color: #686868;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
}

.city_input:focus {
    outline: none;
}

.addCitiesLocationDropDown {
    position: relative;
    margin: 2px;
    width: 100%;
}

.autocomplete-dropdown-container span {
    padding-left: 25px;
    color: #686868;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: table;
}

.suggestion-item--active {
    background: url(../../media/geo_icon.svg) no-repeat;
    background-size: 15px 15px;
    background-position: left 10px top 10px;
    padding: 10px;
}

.suggestion-item--active:first-child {
    border-radius: 4px 4px 0 0;
}

.suggestion-item--active:last-child {
    border-radius: 0 0 4px 4px;
}

.suggestion-item--active:hover {
    background-color: #eee !important;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.peopleSelect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
}

.peopleSelect input {
    max-width: 20px;
    margin: 5px;
}

@media (max-width: 1077px) {
    .routemenu_parameters p {
        line-height: normal;
    }

    .city_input {
        color: #304269;
    }

    .classDivMobail span,
    .routemenu_city_add_text,
    .city_input {
        font-size: 16px;
    }

    .city_input::placeholder {
        color: #fff;
    }

    .startCity {
        margin-bottom: 5px;
    }

    .routemenu_date div {
        font-size: 16px !important;
        text-align: center;
    }
}

@media (max-width: 575px) {
    .routemenu_setDate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: 0 2px; */
    }

    .crossToolTip {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .crossIcon {
        min-width: 20px;
        background-size: 15px 15px !important;
        background-position: center center !important;
    }

    .autocomplete-dropdown-container span {
        font-size: 16px;
    }

    .addCities,
    .routemenu_footer {
        margin: 0 2px;
    }

    .routemenu_footerIcon i {
        width: 70px;
        height: 70px;
        background-size: 100% 100% !important;
        margin-bottom: 10px;
    }

    .routemenu_footerIcon span {
        text-align: center;
        color: #fff;
        line-height: 18px;
        font-size: 14px;
        font-weight: 400;
    }

    .addCitiesLocationDropDown {
        margin: 2px 0;
    }

    .city_input::placeholder {
        color: #686868;
    }

    @keyframes glowingRoute {
        0% {
            background: rgba(37, 165, 154, 0.911);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

        50% {
            background: #304269;
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

        100% {
            background: rgba(37, 165, 154, 0.911);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }
    }
}