.routemenu_container {
    border-radius: 5px;
}

.routemenu_table {
    width: 60%;
    position: relative;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0px;
}

.routemenu_table tbody {
    /* display: block; */
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    color: #fff;
    font-family: "Roboto Regular";
    border-collapse: collapse;
    border-spacing: 0px;
}

.routemenu_addCity {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 100%;
    margin-bottom: 25px;
    padding-top: 10px;
    margin-left: 14px;
    cursor: pointer;
}

.routemenu_city_add_text {
    height: 20px;
    margin-left: 10px;
    font-size: 0.9rem;
    color: #fff;
    font-family: "Roboto Light";
}

.routemenu_setDate {
    display: flex;
    flex-direction: row;
    margin-left: 14px;
    cursor: pointer;
    height: 55px;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 10px;
}

.routemenu_date {
    height: 20px;
    text-align: left;
    border-width: 0 0 1px;
    border-color: white;
    background-color: transparent;
    width: 50%;
    min-width: 13vw;
    font-size: 0.9rem;
    margin-left: 10px;
    color: #ffffff;
    font-family: "Roboto Regular";
}

::-webkit-input-placeholder {
    color: white;
}

.routemenu_parameters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 42px;
    text-align: center;
    background-color: rgba(196, 205, 224, 0.11);
    border: none;
    margin-bottom: 19px;
}

.routemenu_parameters p {
    margin: 0;
    line-height: 42px;
    font-size: 0.9rem;
    color: #fff;
    font-family: "Roboto Regular";
}

.routemenu_parameters img {
    margin: auto 10px;
}

.routemenu_search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    
}

.routemenu_search_button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    max-height: 50px;
    background-color: #f26101;
    width: 50%;
    max-width: 260px;
    border: none;
    padding: 14px 92px 12px 75px;
    border-radius: 5px;
}

.routemenu_search_button img {
    margin: auto 0;
}

/* .routemenu_search_loupe {
    float: left;
    width: 40px;
    height: 40px;
    background: url(pictures/da_tru_loupe.png) no-repeat;
} */

.routemenu_search_text {
    font-size: 1rem;
    color: #fff;
    font-family: "Roboto Medium";
}

.routemenu_comment {
    width: 100%;
}

.routemenu_comment_text {
    width: 100%;
    text-align: center;
    float: left;
    font-size: 11px;
    color: #ffffff;
    font-family: "Roboto";
}

.city_input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: white;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    height: 50%;
    width: 50%;
    min-width: 13vw;
}

.dotBox {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(pictures/Shape.svg) no-repeat;
}

.firstDotBox {
    position: relative;
    top: 11px;
    width: 20px;
    height: 35px;
    background: url(pictures/Ellipse.svg) no-repeat;
}

.lastDotBox {
    position: relative;
    top: 1px;
    width: 40px;
    height: 43px;
    background: url(../HomeHeader/pictures/geo_icon.png) no-repeat;
}

.crossBox {
    width: 15px;
    height: 15px;
    margin: 14px 0 0 5px;
}

@media (max-width: 1077px){
    .routemenu_parameters p {
        line-height: normal;
    }
  
}