.drivers_commercial{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5% 0;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.commercial_picture1{
  display:flex;
  width: 90%;
  height: 40%;
  margin: 0 auto 4% auto;

}
.commercial_picture2{
  display: flex;
  width: 90%;
  height: 55%;
  margin: 0 auto 4% auto;
}