html {
    /* scroll-behavior: smooth; */
}

.footer {
    position: relative;
    height: 50px;
    bottom: 0px;
    background-color: #304269;
}

.footer_block {
    max-width: 1200px !important;
}

.footerButtons_button {
    border: none;
    text-decoration: none;
    outline: none;
    background: #304269;
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}

.footerButtons_button:hover {
    color: #f60;
    text-decoration: none;
}

.footerButtonsIcon img {
    margin-left: 10px;
    cursor: pointer;
}

.footerButtonUp {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 5;
    bottom: 53px;
    right: 2%;
    cursor: pointer;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.20);
}

.footerButtonUp-active {
    display: flex;
}

.footerButtonUp:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
}


/* Footer Mobaile Begin */

.footerMobile {
    position: fixed;
    z-index: 33;
    width: 100%;
    background: #fff;
    bottom: 0px;
    min-height: 56px;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
}

.footerMobile a {
    text-decoration: none;
}

.footerMobile a:hover {
    text-decoration: none;
}

.footerMobile-activeInput {
    display: none !important;
}

.foterMobaileItem {
    cursor: pointer;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 10px;
    color: #666;
    margin-bottom: 5px;
}

.foterMobaileItem_active {
    color: #f60;
}

.footerMobileIconTours {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    background: url(../media/front-bus-Gray.svg) 100% 100% no-repeat;
    background-size: contain;
}

.footerMobileIconTours_active {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    background: url(../media/frontBusOrange.svg) 100% 100% no-repeat;
    background-size: contain;
}

.footerMobileIconRoutes {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    background: url(../media/locationGray.svg) 100% 100% no-repeat;
    background-size: contain;
}

.footerMobileIconRoutes_active {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    background: url(../media/locationOrange.svg) 100% 100% no-repeat;
    background-size: contain;
}

.footerMobileIconPlaces {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    background: url(../media/rate-star-Gray.svg) 100% 100% no-repeat;
    background-size: contain;
}

.footerMobileIconPlaces_active {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    background: url(../media/rate-star-Orange.svg) 100% 100% no-repeat;
    background-size: contain;
}

.footerMobileIconProfile {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    background: url(../media/man-user-Gray.svg) 100% 100% no-repeat;
    background-size: contain;
}

.footerMobileIconProfile_active {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    background: url(../media/man-user-Orange.svg) 100% 100% no-repeat;
    background-size: contain;
}


/* Footer Mobaile End */