.pageNotFound {
    background: url(./components/media/404.svg)no-repeat;
    background-size: 60% 100%;
    background-position: center center;
    height: 87.5vh;
}

.pageNotFound span {
    font-size: 24px;
    color: #304269;
    display: flex;
    align-items: center;
}

.pageNotFound a {
    font-size: 24px;
    color: #356add;
    cursor: pointer;
}

@media (max-width: 990px) {
    .pageNotFound {
        background: url(./components/media/404.svg)no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        height: 87.5vh;
    }

    .pageNotFound span {
        font-size: 18px;
        color: #304269;
        text-align: center;
    }

    .pageNotFound a {
        font-size: 18px;
        color: #356add;
        cursor: pointer;
    }
}