.trevelHistoryBody {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 10px;
    height: 100%;
    padding: 20px;
    padding-bottom: 0px;
    transition: all 0.3s;
}

.trevelHistoryBody:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.historyBodyElement {
    margin-bottom: 15px;
}

.trevelHistoryBody img {
    cursor: pointer;
    z-index: 55;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s;
}

.trevelHistoryBody img:hover {
    transform: scale(2);
}

.historyBodyHeader hr {
    background: #999;
    size: 5px;
    width: 100%;
    margin: 10px 0px;
}

.historyBodyHeader div span {
    font-size: 16px;
    font-weight: 400;
    color: #304269;
    margin-bottom: 10px;
    padding: 0;
}

.historyBodyHeader .historyBodyHeaderRoute,
.historyBodyHeader .historyBodyHeaderType {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    padding: 0;
}

.historyBodyHeader .historyBodyHeaderRoute {
    max-height: 42px;
    min-height: 42px;
    overflow: hidden;
}

.trevelHistoryBody span {
    font-size: 14px;
    font-weight: 400;
    padding-left: 0px;
    color: #304269;
    margin: 0;
}

.trevelHistoryBody h5 {
    font-size: 14px;
    font-weight: 400;
    color: #2ca5e0;
    margin: 0;
    margin-bottom: 10px;
}

.historyBodyElementDriver {
    margin-bottom: 10px;
}

.historyBodyElementDriver span {
    font-size: 14px;
    font-weight: 400;
    color: #304269;
    margin: 0;
}