.registrationWrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.contentHeight {
    min-height: calc(100vh - 364px);
}

.driverProfileRegistrationCommercial {
    margin-top: 80px;
    margin-bottom: 30px;
}

.driverProfileRegistrationCommercial .drivers_commercial {
    padding: 60px 0;
}