.trevelHistoryBody {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-bottom: 0px;
    transition: all 0.3s;
}

.trevelHistoryBody:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.trevelHistoryBodyActiveDay .historyBodyHeader {
    border: 1px solid rgba(24, 153, 249);
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
}

.trevelHistoryBodyActiveDay .collapse {
    border-right: 1px solid rgba(24, 153, 249);
    border-left: 1px solid rgba(24, 153, 249);
}

.historyBodyElement {
    margin-bottom: 15px;
    /* margin-right: 20px; */
    padding: 0px 5px;
}

.historyBodyMultiUser{
    box-shadow: 0px 7px 9px 2px rgba(167, 112, 112, 0.3);
    margin-bottom: 20px;
}

.trevelHistoryBody .historyBodyMultiUserEl h5{
    color:#fff;
    padding: 10px;
    margin: 0px;
}

.historyBodyMultiUserEl{
    padding-right: 5px;
    background: #304269;
}

.historyBodyHeaderBtn {
    cursor: pointer;
}

.historyBodyHeaderBtn:hover {
    color: #f60;
}

.historyBodyBtn button {
    background: #304269;
    color: #fff;
    outline: none;
    border: none;
    padding: 10px 0px;
    border-radius: 0px 0px 5px 5px;
    transition: all 0.3s;
}

.trevelHistoryBody  span.historyBodyButton {
    cursor: pointer;
    background: #999;
    color: #fff;
    padding: 5px 10px !important;
    margin: 0px;
    transition: all 0.3s;
}

.historyBodyBottomMultiUserEl{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.trevelHistoryBody .historyBodyBottomMultiUserEl h5{
    line-height: 21px;
    margin-bottom: 0px;
    padding-right: 5px;
}

.trevelHistoryBody  span.historyBodyButton:hover {
    background: #f60;
    color: #fff;
}

.trevelHistoryBody span.historyBodyButtonSelected {
    background: #fff;
    color: #304269;
}

.historyBodyButtonErrorText {
    color: red!important;
}
.historyBodyButton:focus {
    outline: none;
}
.historyBodyBtnNotActive button {
    background: #999;
    color: #fff;
    outline: none;
    border: none;
    padding: 10px 0px;
    border-radius: 0px 0px 5px 5px;
    transition: all 0.3s;
}

.historyBodyBtn button:hover {
    background: #f60;
}


.trevelHistoryBody img {
    cursor: pointer;
    z-index: 10;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s;
}

.openCollapse {
    position: relative;
    z-index: 30;
    background: none;
}

.trevelHistoryBody img:hover {
    transform: scale(2);
}

.historyBodyHeader {
    padding: 20px;
}

.historyBodyHeader hr {
    background: #999;
    size: 5px;
    width: 100%;
    margin: 10px 0px;
}

.historyBodyHeader div span {
    font-size: 16px;
    font-weight: 400;
    color: #304269;
    margin-bottom: 10px;
    padding: 0;
}

.historyBodyHeader .historyBodyHeaderRoute,
.historyBodyHeader .historyBodyHeaderType {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    padding: 0;
}

.historyBodyHeader .historyBodyHeaderRoute {
    max-height: 42px;
    min-height: 42px;
    overflow: hidden;
}

.trevelHistoryBody span {
    font-size: 14px;
    font-weight: 400;
    /* padding-left: 0px; */
    color: #686868;
    margin: 0;
}

.trevelHistoryBody h5 {
    font-size: 14px;
    font-weight: 400;
    color: rgba(24, 153, 249);
    margin: 0;
    margin-bottom: 5px;
}

.historyBodyElementDriver {
    margin-bottom: 10px;
}

.historyBodyElementDriverCar img{
    border-radius:  5px;
    max-width: 100%;
    margin: 0px;
    height: 200px;
    margin-bottom: 5px;

}

.historyBodyElementDriverCar img:hover{
    transform: scale(1)

}

.historyBodyElementDriver span {
    font-size: 14px;
    font-weight: 400;
    color: #304269;
    margin: 0;
}

.historyBodyElement span {
    padding-left: 5px;
}

@media (max-width: 766px) {
    .historyBodyHeader {
        padding-top: 20px;
        padding: 10px;
    }
}
