.driverProfileTripSettingsBody {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 50px;
    min-height: 500px;
    transition: all 0.3s;
}


/* Content Bigin */

.driverProfileTripSettingsContent {
    padding: 30px 25px 20px 25px;
    
    transition: all 0.3s;
}

.driverProfileTripSettingsContent div {
    margin-bottom: 15px;
}

.driverProfileTripSettingsContent p {
    font-weight: 500;
    font-size: 14px;
    color: #999;
    margin-bottom: 0px;
}

.driverProfileTripSettingsContent select {
    font-weight: 400;
    font-size: 14px;
    color: #333;
}

div.driverProfileTripSettingsContentTitle {
    margin-bottom: 30px;
}

.driverProfileTripSettingsContentTitle p {
    font-weight: 400;
    font-size: 14px;
    color: #304269;
}

.driverProfileTripSettingsContent input {
    color: #333;
    
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    min-width: 130px;
    min-height: 40px;
}

.driverProfileTripSettingsContent select {
    min-width: 400px;
    min-height: 40px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    
    font-weight: 400;
    font-size: 14px;
    margin-right: 5px;
    padding-left: 10px;
    cursor: pointer;
    appearance: none;
    background: url(./img/arrow-point-to-down.svg) no-repeat;
    background-size: 8px 8px;
    background-position: top 15px right 10px;
}

.driverProfileTripSettingsContent select:hover,
.driverProfileTripSettingsContent select:focus,
.driverProfileTripSettingsContent input:hover,
.driverProfileTripSettingsContent input:focus {
    border-color: #304269;
    text-decoration: none;
    outline: #304269;
}

div.driverProfileTripSettingsContentAddCity:nth-last-child(2) {
    margin-bottom: 30px;
}

div.driverProfileTripSettingsContentAddCity p {
    cursor: pointer;
}

.driverProfileTripSettingsContentDeletButton {
    font-weight: 400;
    font-size: 14px;
    color: #999;
    cursor: pointer;
    transition: all 0.3s;
}

div.driverProfileTripSettingsContentAddCity p:hover,
.driverProfileTripSettingsContentDeletButton:hover {
    color: #f60;
}

.driverProfileTripSettingsContent button {
    min-width: 250px;
    min-height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    background: #304269;
    border-radius: 5px;
    border: none;
    transition: all 0.3s;
}

.driverProfileTripSettingsContent button:hover {
    background: #f60;
}

.driverProfileTripSettingsContent button:focus {
    outline: none;
}


/* Content End */