/* Car Bigin*/

.driverProfileCarFilledCard {
    min-height: 260px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 50px;
}

.driverProfileCarFilledCardImg img {
    width: 305px;
    height: 200px;
    margin-right: 15px;
    border-radius: 5px;
}

.driverProfileCarFilledCardInformation {
    min-width: 250px;
    width: 100%;
}

.driverProfileCarFilledCardInformation p {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    color: #304269;
    margin-bottom: 10px;
}

.driverProfileCarFilledCardInformationNameCar p:first-child {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    color: #304269;
    margin-bottom: 0px;
}

.driverProfileCarFilledCardInformationNameCar p:last-child {
    margin-bottom: 20px;
}

.driverProfileCarFilledCardInformationNameCarEdit {
    background: url(./img/editBlue.svg) no-repeat;
    background-size: 30px 20px;
    background-position: top 0px right 0px;
}

.driverProfileCarFilledCardInformationNameCarEdit p {
    padding-right: 30px;
    padding-top: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.driverProfileCarFilledCardInformationComfort {
    margin-bottom: 20px;
}

.driverProfileCarFilledCardInformationComfort p {
    margin: 0;
}

.driverProfileCarFilledCardInformationDeleteCar {
    text-decoration: underline #304269;
    cursor: pointer;
    margin-bottom: 0px;
}

.driverProfileCarFilledCardInformationCommon {
    max-width: 250px;
}

.driverProfileCarFilledCardInformationCommonImg {
    width: 35px;
    height: 30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: right 5px bottom 5px;
}

.driverProfileCarFilledCardInformationComfortImg img {
    margin: 0 5px;
    cursor: pointer;
}


/* Car End*/


/* Add new Car Bigin*/

.driverProfileCarAddNewCar {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-height: 480px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.driverProfileCarAddNewCarPhotoCar {
    position: relative;
    max-width: 305px;
    max-height: 200px;
    min-width: 305px;
    min-height: 200px;
    margin-right: 15px;
    border-radius: 5px;
    background: #ccc;
    text-align: center;
}

.driverProfileCarAddNewCarPhotoCarImg {
    max-width: 305px;
    max-height: 200px;
    background-size: contain;
}

.driverProfileCarAddNewCarPhotoCar label {
    position: absolute;
    z-index: 5;
    left: 50px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 200px;
    cursor: pointer;
}

.driverProfileCarAddNewCarInformation p {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    color: #999;
    margin-bottom: 0px;
}

.driverProfileCarAddNewCarInformation input {
    color: #333;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    min-width: 350px;
    min-height: 40px;
}

.driverProfileCarAddNewCarInformation select {
    min-width: 350px;
    min-height: 40px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    margin-right: 5px;
    padding-left: 10px;
    cursor: pointer;
    appearance: none;
    background: url(./img/arrow-point-to-down.svg) no-repeat;
    background-size: 8px 8px;
    background-position: top 15px right 10px;
}

.driverProfileCarAddNewCarInformation select:hover,
.driverProfileCarAddNewCarInformation select:focus,
.driverProfileCarAddNewCarInformation input:hover,
.driverProfileCarAddNewCarInformation input:focus {
    border-color: #304269;
    text-decoration: none;
    outline: #304269;
}

.driverProfileCarAddNewCarShowButton {
    margin-bottom: 30px;
}

.driverProfileCarAddNewCarShowButton,
.driverProfileCarAddNewCarInformation button {
    max-width: 250px;
    min-height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: #304269;
    border-radius: 5px;
    border: none;
    transition: all 0.3s;
}

.driverProfileCarAddNewCarShowButton:hover,
.driverProfileCarAddNewCarInformation button:hover {
    background: #f60;
}

.driverProfileCarAddNewCarShowButton:focus,
.driverProfileCarAddNewCarInformation button:focus {
    outline: none;
}

.driverProfileCarAddNewCarComfortCheckBox label {
    /* background: #25ae88; */
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto";
    color: #333;
    padding-left: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.driverProfileCarAddNewCarComfortCheckBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.driverProfileCarAddNewCarComfortCheckBox span {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: all 0.3s;
}

.driverProfileCarAddNewCarComfortCheckBox label:hover span {
    border-color: #25ae88;
}

.driverProfileCarAddNewCarComfortCheckBox input:checked~span {
    background-color: #25ae88;
}

.driverProfileCarAddNewCarComfortCheckBox span:after {
    content: "";
    position: absolute;
    display: none;
}

.driverProfileCarAddNewCarComfortCheckBox label input:checked~span:after {
    display: block;
}

.driverProfileCarAddNewCarComfortCheckBox label span:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 8px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Add new Car End*/