.addTourShow {
    min-width: 250px;
    min-height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: #304269;
    border-radius: 5px;
    border: none;
    transition: all 0.3s;
}

.tourSettingsBody {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 50px;
    min-height: 500px;
    /* transition: all 0.3s; */
}

.tourContent {
    padding-top: 20px !important;
}

.tourContent p {
    font-weight: 400;
    font-size: 13px;
    color: #666;
}

.tourBodyElement {
    margin-bottom: 80px;
}

.tourBodyElementTitle {
    min-height: 40px;
}

.tourBodyElementTitle p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #304269;
    margin-bottom: 0px;
    padding-left: 10px;
}


/* Content Bigin */

.tourContent .tripSettingsContentDeletButton {
    position: absolute;
    left: 100%;
}

.tourContent label {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    color: #686868;
}

.tourContent span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: #333;
    margin: 0;
}

.tourContentTitle {
    min-height: 40px;
}

.tourContentTitle p {
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #304269;
}

.tourContent input {
    width: 100%;
    color: #333;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    padding-left: 10px !important;
    min-height: 40px;
    transition: all 0.3s;
}


/* TourContentCheckbox Bigin */

div.tourContentCheckbox {
    position: relative;
    min-height: 50px;
}

.tourContentCheckbox label {
    /* background: #25ae88; */
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    padding-left: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tourContentCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.tourContentCheckbox span {
    position: absolute;
    z-index: 3;
    top: 7px;
    left: 0px;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: all 0.3s;
}

.tourContentCheckbox label:hover span {
    border-color: #25ae88;
}

.tourContentCheckbox input:checked~span {
    background-color: #25ae88;
}

.tourContentCheckbox span:after {
    content: "";
    position: absolute;
    display: none;
}

.tourContentCheckbox label input:checked~span:after {
    display: block;
}

.tourContentCheckbox label span:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 8px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* TourContentCheckbox End */

.tourContentEveryday {
    position: relative;
}

.tourContentEveryday label {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0px;
}

.tourContent select {
    width: 33.3%;
    min-height: 40px;
    margin-right: 5px;
    padding-left: 10px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    appearance: none;
    background: url(./img/arrow-point-to-down.svg) no-repeat;
    background-size: 8px 8px;
    background-position: top 15px right 10px;
    transition: all 0.3s;
}

.tourContent textarea:hover,
.tourContent textarea:focus,
.tourContent select:hover,
.tourContent select:focus,
.tourContent input:hover,
.tourContent input:focus {
    border-color: #304269;
    text-decoration: none;
    outline: #304269;
}

.tourContent textarea {
    width: 100%;
    max-height: 75px;
    border-radius: 5px;
    padding-left: 10px !important;
    border: 1px solid #ccc;
    transition: all 0.3s;
}

.tourContentAdd p {
    cursor: pointer;
}

.tourContentAdd p:hover {
    color: #f60;
}

.tourContentAddButton button {
    max-width: 250px;
    min-height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: #304269;
    border-radius: 5px;
    border: none;
    transition: all 0.3s;
}

.tourContentAddButton span {
    align-self: center;
    transition: all 0.3s;
    cursor: pointer;
}

.tourContentAddButton span:hover {
    color: #f60;
}

.tourContentAddButton button:focus,
.tourContentAddButton button:hover {
    background: #f60;
    outline: none;
}


/* Content End */


/* openMultipleDatepicker Bigin */


/* .openMultipleDatepicker {

} */

.openMultipleDatepicker label {
    font-weight: 400;
    font-size: 14px;
    color: #304269;
}


/* .openMultipleDatepicker input {
    
} */

.openMultipleDatepicker span {
    color: #000;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    text-indent: 20px;
    background: url(./img/calendarGray.svg)no-repeat;
    background-size: 14px 14px;
    background-position: top 2px left 0;
}

.openMultipleDatepicker span:hover {
    color: #f60;
}


/* openMultipleDatepicker End */


/* ItemElement Bigin */

.settingsTourHeader {
    margin: 15px 0;
}

.filledTourImgAddBg {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    min-height: 210px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.3s;
}

.filledTourImgAddBg:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.filledTourImgAddBg div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.filledTourImgAddBg p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #304269;
    margin-top: 11px;
    margin-bottom: 0px;
    transition: all 0.3s;
}

.filledTourImgAddBg div span {
    position: relative;
    z-index: 3;
    width: 160px;
    height: 90px;
    background: url(./img/frontBusBlue.svg) no-repeat;
    background-size: 160px 90px;
    transition: all 0.3s;
}

.filledTourImgAddBg:hover span {
    background: url(./img/frontBusOrange.svg) no-repeat;
    background-size: 160px 90px;
}

.filledTourImgAddBg:hover p {
    color: #f60;
}

.settingsTourPlace {
    max-height: 42px;
    overflow: hidden;
}

.settingsTourPlace p {
    text-indent: 15px;
    background: url(./img/locationGray.svg)no-repeat;
    background-size: 14px 14px;
    background-position: top 2px left 0;
}

.settingsTourPlace p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: #686868;
}

.settingsTourHeader p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 13px;
    color: #304269;
}


/* ItemElement End */

@media (max-width: 768px) {
    .tourSettingsBody {
        box-shadow: none;
    }
    .tourContent textarea,
    .tourContent input,
    .tourContent select {
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #ccc;
    }
    .tourContent textarea:hover,
    .tourContent textarea:focus,
    .tourContent select:hover,
    .tourContent select:focus,
    .tourContent input:hover,
    .tourContent input:focus {
        border-color: #304269;
        border-width: 2px;
        text-decoration: none;
        outline: #304269;
        border-radius: 0px;
    }
    .tripSettingsContentDeletButton {
        text-align: right;
    }
    .tourContent .tripSettingsContentDeletButton {
        position: relative;
        left: 0;
    }
    span.tourContentOtherSpan {
        top: -6px;
    }
}

@media (max-width: 576px) {
    .newTourCalendarStyle .Cal__Day__selection {
        height: 43px !important;
        width: 43px !important;
        margin-left: -20px !important;
    }
    .newTourCalendarStyle .Cal__Day__selection span {
        font-size: 14px !important;
    }
}