.billingBody {
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding: 20px;
}

 :nth-child(2).billingBody {
    margin-bottom: 80px;
}

.billingContentRight {
    width: 50%;
    padding-left: 20px;
}

.billingContentLeft {
    width: 50%;
    padding-right: 20px;
    border-right: 1px solid #ccc;
}

.billingButton span {
    background: #304269;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: ease 0.3s;
}

.billingButton span:hover {
    background: #f60;
}

.specialBorder {
    border-bottom: 2px solid #ccc;
}

.specialText {
    font-weight: 500 !important;
}

.billingText span,
.billingText label {
    color: #304269;
    font-size: 14px;
    font-weight: 400;
}

.billingText p {
    color: #666;
    font-size: 13px;
    font-weight: 400;
}

.billingTextTitle {
    margin-bottom: 20px;
    text-align: left;
}

.billingTextTitle span {
    color: #304269;
    font-size: 16px;
    font-weight: 500;
}

.blillingHeader {
    background-color: rgba(204, 204, 204, 0.2);
    margin-right: 35px;
    padding-bottom: 20px !important;
}

.blillingHeaderTitle {
    font-size: 16px;
    font-weight: 500;
    color: #304269;
}

.billingTable tr td {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #304269 !important;
}

.billingTableHeader tr th {
    font-size: 13px !important;
    font-weight: 400 !important;
    color: #666 !important;
}

.billingTable tr:nth-child(1n) td {
    background-color: #fff !important;
}

.billingTable tr:nth-child(2n+2) td {
    background-color: rgba(204, 204, 204, 0.2) !important;
}

.billingTable {
    width: 1140px !important;
}

.billingCalendar {
    border: 1px solid #ccc !important;
    border-radius: 5px;
    max-width: 120px;
    margin: 0 5px;
    max-height: 30px;
    cursor: pointer;
}

.billingCalendar :nth-child(1) {
    height: 30px !important;
    max-width: 120px;
    cursor: pointer;
}

.billingCalendar input {
    text-indent: 25px;
    background: url(./img/calendarGray.svg)no-repeat;
    background-size: 12px 12px;
    background-position: top 8px left 5px;
    font-size: 14px !important;
    font-weight: 400;
    color: #304269;
    max-width: 120px;
    cursor: pointer !important;
}

.billingCalendar hr {
    display: none;
}

.billingModal {
    max-width: 400px !important;
}

.billingModalDiv {
    border-radius: 5px !important;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2) !important;
}

.billingModalContent {
    position: relative;
}

.billingModalContentText {
    font-size: 12px;
}

.billingModalSelectMenu {}

.billingModalSelectMenu.route_dateSelect .MuiSelect-selectMenu {
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #304269 !important;
    padding-left: 12px;
    width: 100%;
    position: static !important;
    z-index: 2000 !important;
}

.billingModalHeder {
    border-bottom: 1px solid rgba(48, 66, 105, 0.233);
    margin-bottom: 15px;
}

.billingModalFooter button span {
    font-size: 12px !important;
    color: rgba(51, 51, 51, 0.6) !important;
}

.billingModalFooter button {
    font-size: 12px !important;
    color: #fff !important;
    background: #304269;
    border-radius: 5px;
    padding: 0 25px;
}


/* 
.billingModalContent label {
    font-size: 14px;
    font-weight: 400;
    color: #304269;
    margin: 0;
} */


/* .billingModalContent input {
    color: #333;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    min-height: 40px;
    margin: 5px 0;
    transition: all 0.3s;
} */


/* .billingModalContent input:hover,
.billingModalContent input:focus {
    border-color: #304269;
    text-decoration: none;
    outline: #304269;
} */

.billingBtSubmit {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #304269;
}

.billingBtSubmit:focus {
    outline: none;
}

.billingModalContentDropDown {
    max-height: 50px !important;
    border: 1px solid #e0e0e0 !important;
    border-radius: 5px !important;
    font-size: 14px !important;
}

.billingModalContentDropDown div {
    border: none !important;
    max-height: 50px !important;
    line-height: 50px !important;
    padding: 0 !important;
    color: #304269 !important;
    padding-left: 8px !important;
}

.billingModalContentDropDown button {
    padding: 0 !important;
    top: 0px !important;
    right: 0 !important;
}

.copyElement {
    background-size: 25px 25px;
    width: 25px;
}

@media (max-width: 1140px) {
    .billingTableBody div :nth-child(2) {
        overflow: initial !important;
    }
}

@media (max-width: 768px) {
    .billingContentLeft {
        border: none;
    }
    .billingContentRight,
    .billingContentLeft {
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding-right: 0px;
    }
    .billingTextTitle {
        text-align: center;
    }
    .billingContentRight {
        margin-top: 20px;
        padding-left: 0px;
    }
    .billingCalendar {
        margin: 10px 2px !important;
    }
}

@media (max-width: 576px) {}