/* CalendarModal Begin */

.calendarModal div {
    width: 100% !important;
    max-height: 50px !important;
    cursor: pointer !important;
}

.calendarModal {
    max-height: 40px;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

.dropdownClass hr,
.calendarModal hr {
    display: none;
}

.calendarModal label {
    display: none;
    font-weight: 400 !important;
    font-size: 14px !important;
}

.calendarModal input {
    text-indent: 20px;
    background: url(../media/calendarGray.svg)no-repeat;
    background-size: 14px 14px;
    background-position: top 12px left 6px;
    font-weight: 400 !important;
    font-size: 14px !important;
    padding-left: 10px !important;
    max-height: 40px !important;
    margin: 0 !important;
}


/* CalendarModal end */


/* Dropdown Begin */

.dropdownClass {
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    max-height: 40px !important;
    margin: 5px 0;
}

.dropdownClass div {
    max-height: 40px !important;
    line-height: 40px !important;
    border: none !important;
    padding-left: 5px !important;
}

.dropdownClass button {
    top: 0 !important;
    right: 0 !important;
    padding: 0 !important;
    height: auto !important;
}


/* Dropdown End */


/* .inputClass {} */

.multiLineInputClass input,
.inputClass input {
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #333 !important;
    margin: 0 !important;
    margin-top: 30px !important;
    height: 30px !important;
}
.MuiSelect-icon{
    color: rgba(0, 0, 0, 0.5) !important;
}

.multiLineInputClass label,
.inputClass label {
    font-weight: 400 !important;
    font-size: 18px !important;
    width: max-content !important;
}

.chipClass {
    margin: 2px 5px 5px 0px !important;
    background-color: #e0e0e0 !important;
    border-radius: 5px !important;
    border: 1px solid #e0e0e0 !important;
}

.chipClass svg {
    fill: #aeaeae !important;
    transition: all 0.3s;
}

.chipClass svg:hover {
    fill: #304269 !important;
}


/* myPhoneInput Begin */

.myPhoneInput {
    position: relative;
    width: 100% !important;
    display: flex;
    align-items: center;
}

.myPhoneInput input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.myPhoneInput .form-control:focus {
    border-color: #304269 !important;
}

.myPhoneInput button {
    min-width: auto !important;
    background: none !important;
    height: 100% !important;
    margin: auto 0;
}


/* myPhoneInput end */

@media (max-width: 768px) {
    .calendarModal {
        max-height: none !important;
        border: none !important;
    }

    .calendarModal input {
        background-position: top 42px left 0px;
        max-height: none !important;
        padding-left: 0px !important;
        padding-top: 26px !important;
        font-size: 16px !important;
        border: none !important;
        margin: 0 !important;
    }

    .inputClass hr,
    .dropdownClass hr,
    .calendarModal hr {
        display: block;
        border-color: #ccc !important;
    }

    .calendarModal label {
        display: block;
        font-size: 18px !important;
        /* padding-left: 18px; */
    }

    .calendarModal div {
        max-height: none !important;
    }

    .dropdownClass {
        min-height: 40px !important;
        border: none !important;
        border-bottom: 1px solid #e0e0e0 !important;
        border-radius: 0px !important;
        font-size: 16px !important;
    }
    .MuiInput-underline:before{
        display: none;
    }
    .MuiSelect-icon{
        color: rgba(0, 0, 0, 0.5) !important;
    }

    .dropdownClass .MuiInput-formControl div .MuiSelect-select:focus{
        background-color: none !important;
    }

    .dropdownClass div {
        max-height: none !important;
        padding: 0 !important;
        top: 18px !important;
        color: #333 !important;
    }

    .dropdownClass button {
        padding: 0 !important;
        top: 18px !important;
    }

    .myPhoneInput {
        margin-top: 30px;
    }

    .myPhoneInput input {
        border: none !important;
        border-bottom: 1px solid !important;
        border-color: #aeaeae !important;
        border-radius: 0px !important;
        box-shadow: none !important;
    }

    .myPhoneInput input:focus {
        border: none !important;
        border-bottom: 1px solid !important;
        border-radius: 0px !important;
        border-color: #304269 !important;
    }
}

@media (max-width: 576px) {}