/* Navigation page Bigin */

.driverProfileTripSettingsNavigation {
    min-height: 50px;
    background: #d9e8f5;
    text-align: center;
}

.driverProfileTripSettingsNavigationTrip {
    min-width: 100px;
    min-height: 50px;
    line-height: 50px;
    border-radius: 5px 5px 0 0;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.driverProfileTripSettingsNavigationTrip p {
    color: #999;
    font-weight: 400;
    font-size: 14px;
}

.driverProfileTripSettingsNavigationTour {
    min-width: 100px;
    min-height: 50px;
    line-height: 50px;
    border-radius: 5px 5px 0 0;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.driverProfileTripSettingsNavigationTour p {
    color: #999;
    font-weight: 400;
    font-size: 14px;
}

.activTag {
    background: #fff;
}

.activTag p {
    color: #304269;
}


/* Navigation page End */


/* Content Bigin */


/* Content End */