.affiliateProgramBody {
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
    margin-bottom: 80px;
}

.affiliateProgramBody h3 {
    font-size: 24px;
    font-weight: 400;
    color: #304269;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 50px;
}

.affiliateProgramBody p {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.affiliateProgramButton {
    margin: 10px;
    margin-top: 20px;
    height: 100%;
}

.affiliateProgramButton span {
    text-align: center;
    border: 1px solid #f60;
    border-radius: 5px;
    padding: 10px;
    color: #f60;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: ease 0.3s;
    min-height: 43px;
    min-width: 176px;
    margin: 5px;
    margin-top: 0px;
}

.affiliateProgramButton span:hover {
    background: #f60;
    color: #fff;
    border-color: #f60;
}


/* RenderShareLink Begin */

.affiliateProgramButton input {
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

.affiliateProgramButton input:focus {
    outline: none
}

.affiliateProgramInput {
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 43px;
}

.affiliateProgramInput spanlink {
    width: max-content;
    line-height: 43px;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #f60;
}

.affiliateProgramInput spanlink:hover {
    text-decoration: underline;
}

.affiliateProgramInput input {
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: #304269;
    max-width: 250px;
}

.shareLink spantext {
    color: #304269;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 5px;
}

.affiliateProgramIconsMass {
    padding-top: 5px;
    width: 70%;
    overflow-x: auto;
}

.networkLink{
    text-align: center;
    margin: 5px;
    cursor: pointer;
}



.affiliateProgramIconsMass::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #F5F5F5;
}


.affiliateProgramIconsMass::-webkit-scrollbar {
    height: 5px;
    width: 4px;
    background-color: #F5F5F5;
}


.affiliateProgramIconsMass::-webkit-scrollbar-thumb {
    border-radius: 5px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
    background-color: #f60;
}


.affiliateProgramIconsMass i {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.affiliateProgramIconsMass span {
    cursor: pointer;
    border: none;
    min-width: max-content;
    margin: 0px 5px;
    width: 30px;
    height: 30px;
    background: url(../media/ellipsisBlue.svg) no-repeat;
    background-size: 100% 100%;
    transition: all 0.3s;
}

.affiliateProgramIconsMass span:hover {
    background: url(../media/ellipsisOrange.svg) no-repeat;
    background-size: 100% 100%;
}


/* RenderShareLink end */


/*
.affiliateProgramButton :nth-child(2) :nth-child(2) {
    background: #304269;
    color: #fff;
    border-color: #304269;
}
*/


/*.affiliateProgramButton :nth-child(2) :nth-child(2):hover,*/

.affiliateProgramContent {
    margin-top: 40px;
    margin-bottom: 20px;
}

.affiliateProgramTitle {
    margin-bottom: 15px;
}

.peopleicon {
    width: 40px;
    height: 40px;
    background: url(../media/referal.svg) no-repeat;
    background-size: 40px 40px;
}

.percenticon {
    width: 40px;
    height: 40px;
    background: url(../media/percent.svg) no-repeat;
    background-size: 40px 40px;
}

.currencyicon {
    width: 40px;
    height: 40px;
    background: url(../media/money.svg) no-repeat;
    background-size: 40px 40px;
}

.affiliateProgramTitle {
    padding-left: 25px;
}

.affiliateProgramTitle span {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.questionicon {
    width: 20px;
    height: 20px;
    background: url(../media/question-mark.svg) no-repeat;
    background-size: 20px 20px;
    padding-right: 30px;
}

.affilitaProgramEl {
    border: 1px solid #304269;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
}

.affilitaProgramEl span {
    font-weight: 400;
    font-size: 14px;
    color: #666;
}

.affilitaProgramEl :nth-last-child(2) {
    font-weight: 100;
    font-size: 55px;
    color: #304269;
}

.affiliateProgramAllEl :nth-child(2) :nth-last-child(2) {
    font-weight: 100;
    font-size: 55px;
    color: #f60;
}

.affiliateProgramTable tr td {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #304269 !important;
}

.affiliateProgramTableHeader tr th {
    font-size: 13px !important;
    font-weight: 400 !important;
    color: #666 !important;
}

.affiliateProgramTable tr:nth-child(1n) td {
    background-color: #fff !important;
}

.billingTaaffiliateProgramTableble tr:nth-child(2n+2) td {
    background-color: rgba(204, 204, 204, 0.2) !important;
}

.affiliateProgramTableBody {
    padding: 20px;
}

.affiliateProgramTable {
    width: 1140px !important;
}

@media (max-width: 1140px) {
    .affiliateProgramTableBody div :nth-child(2) {
        overflow: initial !important;
    }

    .shareLink {
        margin: 5px 0;
    }

    .affiliateProgramButton span {
        margin-top: 5px;
    }
}

@media (max-width: 768px) {
    .affiliateProgramInput {
        align-items: center;
        border: none;
        border-radius: none;
        max-height: none;
    }

    .affiliateProgramInput input {
        border: 1px solid #ccc;
        border-radius: 5px;
        min-width: 250px;
    }

    .affiliateProgramInput spanlink {
        border: 1px solid #f60;
        border-radius: 5px;
    }

    .affiliateProgramIconsMass {
        padding-top: 5px;
        width: 100%;
    }
}

@media (max-width: 576px) {}