.billingBody {
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding: 20px;
}

 :nth-child(2).billingBody {
    margin-bottom: 80px;
}

.billingContentRight {
    width: 50%;
    padding-left: 20px;
}

.billingContentLeft {
    width: 50%;
    padding-right: 20px;
    border-right: 1px solid #ccc;
}

.billingButton span {
    background: #304269;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: ease 0.3s;
}

.billingButton span:hover {
    background: #f60;
}

.specialBorder {
    border-bottom: 2px solid #ccc;
}

.specialText {
    font-weight: 500 !important;
}

.billingText span,
.billingText label {
    color: #304269;
    font-size: 14px;
    font-weight: 400;
}

.billingText p {
    color: #666;
    font-size: 13px;
    font-weight: 400;
}

.billingTextTitle {
    margin-bottom: 20px;
    text-align: left;
}

.billingTextTitle span {
    color: #304269;
    font-size: 16px;
    font-weight: 500;
}

.blillingHeader {
    margin-right: 35px;
    padding-bottom: 20px !important;
}

.blillingHeaderTitle {
    font-size: 16px;
    font-weight: 500;
    color: #304269;
}

.billingTable {
    width: 1140px !important;
}

.billingCalendar {
    border: 1px solid #ccc !important;
    border-radius: 5px;
    padding-left: 10px;
    max-width: 120px;
    margin: 0 5px;
    max-height: 30px;
}

.billingCalendar :nth-child(1) {
    height: 30px !important;
    max-width: 120px;
}

.billingCalendar input {
    font-size: 14px !important;
    font-weight: 400;
    color: #304269;
    max-width: 120px;
}

.billingCalendar hr {
    display: none;
}

@media (max-width: 1140px) {
    .billingTableBody div :nth-child(2) {
        overflow: initial !important;
    }
}

@media (max-width: 768px) {
    .billingContentLeft {
        border: none;
    }
    .billingContentRight,
    .billingContentLeft {
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
    .billingTextTitle {
        text-align: center;
    }
    .billingContentRight {
        margin-top: 20px;
    }
    .billingCalendar {
        margin: 5px 5px !important;
    }
}

@media (max-width: 576px) {}