.tripSettingsBody {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 50px;
    min-height: 532px;
    transition: all 0.3s;
}


/* Content Bigin */

.tripSettingsContent {
    padding: 30px 20px 20px 20px;
    transition: all 0.3s;
}

.tripSettingsContent label {
    font-weight: 500;
    font-size: 14px;
    color: #686868;
    margin-bottom: 0px;
}

.tripSettingsContent p {
    font-weight: 400;
    font-size: 13px;
    color: #666;
    margin-bottom: 0px;
}

.tripSettingsContent select {
    font-weight: 400;
    font-size: 14px;
    color: #333;
}

div.tripSettingsContentTitle {
    margin-bottom: 30px;
}

.tripSettingsContentTitle p {
    font-weight: 400;
    font-size: 14px;
    color: #304269;
    margin-bottom: 0px;
}

.tripSettingsContent input {
    color: #333;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 5px 0;
    min-width: 130px;
    min-height: 40px;
    transition: all 0.3s;
}

.tripSettingsContent select {
    min-width: 400px;
    min-height: 40px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    margin-right: 5px;
    padding-left: 10px;
    cursor: pointer;
    appearance: none;
    background: url(./img/arrow-point-to-down.svg) no-repeat;
    background-size: 8px 8px;
    background-position: top 15px right 10px;
    transition: all 0.3s;
}

.tripSettingsContent select:hover,
.tripSettingsContent select:focus,
.tripSettingsContent input:hover,
.tripSettingsContent input:focus {
    border-color: #304269;
    text-decoration: none;
    outline: #304269;
}

div.tripSettingsContentAddCity:nth-last-child(2) {
    margin-bottom: 30px;
}

div.tripSettingsContentAddCity p {
    cursor: pointer;
}

.tripSettingsContentDeletButton {
    position: relative;
    width: 50px;
    height: 18px;
    background: url(./img/garbageBlue.svg) no-repeat;
    background-size: 18px 18px;
    background-position: top 0px left 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.tripSettingsContentDeletButton:hover {
    background: url(./img/garbageOrange.svg) no-repeat;
    background-size: 18px 18px;
    background-position: top 0px left 10px;
}

div.tripSettingsContentAddCity p:hover {
    color: #f60;
}

.tripSettingsContent button {
    min-width: 250px;
    min-height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    margin-left: 10px;
    background: #304269;
    border-radius: 5px;
    border: none;
    transition: all 0.3s;
}

.tripSettingsContent button:hover {
    background: #f60;
}

.tripSettingsContent button:focus {
    outline: none;
}


/* Content End */

@media (max-width: 768px) {
    .tripSettingsBody {
        box-shadow: none;
    }
    .tripSettingsContent input,
    .tripSettingsContent select {
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #ccc;
    }
    .tripSettingsContent select:hover,
    .tripSettingsContent select:focus,
    .tripSettingsContent input:hover,
    .tripSettingsContent input:focus {
        border-color: #304269;
        border-width: 2px;
        text-decoration: none;
        outline: #304269;
        border-radius: 0px;
    }
    .tripSettingsContentDeletButton {
        width: 100%;
        background-position: top 0px right 10px;
    }
    .tripSettingsContentDeletButton:hover {
        background-position: top 0px right 10px;
    }
}

@media (max-width: 576px) {}