/* Car Begin*/

.filledCardBody {
    margin-bottom: 50px;
}

.filledCard {
    width: 100%;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

.filledCard:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.filledCardInformation {
    width: 100%;
}

.filledCardImg {
    width: 100%;
}

.filledCardImg img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 210px;
    -o-object-fit: cover;
    object-fit: cover;
}

.filledCardImgAdd {
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    min-height: 210px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
}

.filledCardImgAdd div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.filledCardImgAdd:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.filledCardImgAdd span {
    width: 230px;
    height: 100px;
    background: url(../media/addCarBlue.svg) no-repeat;
    background-size: 230px 130px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.filledCardImgAdd:hover span {
    background: url(../media/addCarOrange.svg) no-repeat;
    background-size: 230px 130px;
}

.filledCardImgAdd p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #304269;
    margin-bottom: 0px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.filledCardImgAdd:hover p {
    color: #f60;
}

.filledCardInformation p {
    font-weight: 500;
    font-size: 14px;
    color: #304269;
    margin-bottom: 0px;
}

.filledCardInformationNameCar {
    position: absolute;
    z-index: 3;
    min-height: 45px;
    padding-right: 0px;
    background: none;
}

.cardInformationNameCarIcon {
    margin-right: 20px;
    width: 40px;
    height: 45px;
    background: url(../media/moreWhite.svg) no-repeat;
    background-size: 20px 20px;
    background-position: top 15px right 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 0;
}

.cardInformationNameCarIcon:hover {
    background: url(../media/moreOrange.svg) no-repeat;
    background-size: 20px 20px;
    background-position: top 15px right 10px;
}

.cardInformationNameCarIcon:hover~.filledCardInformationMenu {
    display: block;
}

.filledCardInformationMenu:hover {
    display: block;
}

.filledCardInformationMenu {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    z-index: 3;
    height: 100px;
    width: 128px;
    padding-top: 5px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.38);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.38);
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
}

.cardInformationType {
    width: 100%;
    padding: 15px 10px;
    overflow: hidden;
}

.cardInformationType p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #304269;
    margin-bottom: 0px;
}

.cardInformation p,
.cardInformation span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: #304269;
}


/* .cardInformation p {
    padding-left: 35px;
    background: no-repeat;
    background-size: 30px 30px;
    background-position: left 2px bottom -2px;
} */

p.filledCardInformationDeleteCar,
p.filledCardInformationNameCarEdit {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: #686868;
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

p.filledCardInformationDeleteCar:hover,
p.filledCardInformationNameCarEdit:hover {
    background: #f4f5f6;
}

.filledCardInformationNameCar input {
    display: none;
}

.filledCardInformationCommon {
    max-width: 250px;
}

.filledCardInformationCommonImg {
    width: 35px;
    height: 30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: right 5px bottom 5px;
}

.filledCardInformationComfortImg img {
    margin: 0 5px;
    cursor: pointer;
}


/* Car End*/


/* Add new Car Begin*/

.carAddNewCar {
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-height: 480px;
    margin: 30px 0px;
}

.carAddNewCarPhotoCar {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 300px;
    width: 100%;
}

.carAddNewCarPhotoCarImg {
    object-fit: cover;
    height: 300px;
    filter: brightness(70%);
    background-size: contain;
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.carPhotoMiniContainer {
    border-radius: 0 0 5px 5px;
}

.carPhotoMiniContainer span {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0px;
    top: 0px;
}

.carPhotoMiniContainer span:hover {
    background: url(../media/error.svg) no-repeat;
    background-size: 20px 20px;
}

img.carPhotoMini {
    cursor: pointer;
    object-fit: cover;
    flex-basis: 100px;
    height: 100%;
    max-height: 70px;
    max-width: 100px;
    min-width: 80px;
}

.carPhotoMini:hover~span {
    background: url(../media/error.svg) no-repeat;
    background-size: 20px 20px;
}

.carAddNewCarPhotoCar label {
    position: absolute;
    z-index: 5;
    width: 95%;
    height: 300px;
    left: 10px;
    font-weight: 400;
    font-size: 16px;
    background: url(../media/plus.svg) no-repeat;
    background-size: 50px 50px;
    background-position: center center;
    cursor: pointer;
    line-height: 300px;
    text-align: center;
    margin: 0px;
}

.carAddNewCarInformation {
    /*margin-top: 30px;*/
}


/* ScrollBar Begin */

.carPhotoMiniContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

.carPhotoMiniContainer::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

.carPhotoMiniContainer::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f60;
}


/* ScrollBar end */

.carAddNewCarInformation label {
    font-weight: 400;
    font-size: 14px;
    color: #686868;
    margin-bottom: 0px;
}

.labelCarEmpty {
    color: #e81123;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0px;
}

.carAddNewCarInformation input {
    width: 100%;
    min-height: 40px;
    padding-left: 10px;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.carAddNewCarInformation select {
    width: 100%;
    min-height: 40px;
    margin-right: 5px;
    padding-left: 10px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../media/arrow-point-to-down.svg) no-repeat;
    background-size: 8px 8px;
    background-position: top 15px right 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.carAddNewCarInformation select:hover,
.carAddNewCarInformation select:focus,
.carAddNewCarInformation input:hover,
.carAddNewCarInformation input:focus {
    border-color: #304269;
    text-decoration: none;
    outline: #304269;
}

.carShowButton {
    margin-bottom: 20px;
    min-width: 250px;
}

.carAddNewCarButton span {
    cursor: pointer;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: #333;
    margin: 0;
}

.carAddNewCarButton span:hover {
    color: #f60;
}

.carShowButton,
.carAddNewCarButton button {
    min-height: 40px;
    max-height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: #304269;
    border-radius: 5px;
    border: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.carShowButton:hover,
.carAddNewCarButton button:hover {
    background: #f60;
}

.carShowButton:focus,
.carAddNewCarButton button:focus {
    outline: none;
}

.carAddNewCarComfortCheckBox label {
    /* background: #25ae88; */
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    padding-left: 28px;
    padding-bottom: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carAddNewCarComfortCheckBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.carAddNewCarComfortCheckBox span {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.carAddNewCarComfortCheckBox label:hover span {
    border-color: #25ae88;
}

.carAddNewCarComfortCheckBox input:checked~span {
    background-color: #25ae88;
}

.carAddNewCarComfortCheckBox span:after {
    content: "";
    position: absolute;
    display: none;
}

.carAddNewCarComfortCheckBox label input:checked~span:after {
    display: block;
}

.carAddNewCarComfortCheckBox label span:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 8px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Add new Car End*/

@media (max-width: 768px) {
    .carAddNewCar {
        /*-webkit-box-shadow: none;*/
        /*box-shadow: none;*/
        margin-left: 0px;
    }
    .carAddNewCarInformation input,
    .carAddNewCarInformation select {
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0px;
    }
    .carAddNewCarInformation select:hover,
    .carAddNewCarInformation select:focus,
    .carAddNewCarInformation input:hover,
    .carAddNewCarInformation input:focus {
        border-color: #304269;
        border-width: 2px;
        text-decoration: none;
        outline: #304269;
        border-radius: 0px;
    }
    .carAddNewCar {
        margin-top: 0px;
    }
    .carAddNewCarPhotoCar {
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media (max-width: 576px) {}