.calendarModal div {
    width: 100% !important;
    max-height: 50px !important;
    cursor: pointer !important;
}

.calendarModal {
    max-height: 40px;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

.dropdownClass hr,
.calendarModal hr {
    display: none;
}

.calendarModal label {
    display: none;
    font-weight: 400 !important;
    font-size: 18px !important;
}

.calendarModal input {
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #304269 !important;
    padding-left: 10px !important;
    margin: 5px 0 !important;
    max-height: 40px !important;
    margin: 0 !important;
}

.dropdownClass {
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    max-height: 40px !important;
}

.dropdownClass div {
    max-height: 40px !important;
    line-height: 40px !important;
    border: none !important;
    padding-left: 5px !important;
}

.dropdownClass button {
    top: 0 !important;
    padding: 0 !important;
}

.chipClass {
    background-color: #304269 !important;
}

@media (max-width: 768px) {
    .calendarModal {
        max-height: none;
        border: none!important;
    }
    .calendarModal input {
        padding-left: 0px !important;
        border: none!important;
        margin-bottom: 0px !important;
        max-height: none !important;
        margin-top: 14px !important;
    }
    .dropdownClass hr,
    .calendarModal hr {
        display: block;
    }
    .calendarModal label {
        display: block;
    }
    .calendarModal div {
        max-height: none !important;
    }
    .dropdownClass {
        border: none !important;
        border-bottom: 1px solid #e0e0e0 !important;
        border-radius: 0px !important;
    }
    .dropdownClass div {
        padding: 0 !important;
    }
}

@media (max-width: 576px) {
    .calendarModal {
        max-height: none;
        border: none!important;
    }
    .calendarModal input {
        padding-left: 0px !important;
        border: none!important;
        margin-bottom: 0px !important;
        max-height: none !important;
        margin-top: 14px !important;
    }
    .dropdownClass hr,
    .calendarModal hr {
        display: block;
    }
    .calendarModal label {
        display: block;
    }
    .dropdownClass {
        border: none !important;
        border-bottom: 1px solid #e0e0e0 !important;
        border-radius: 0px !important;
    }
    .dropdownClass div {
        padding: 0 !important;
    }
}