/* .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

/* .headerLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    order: 0;
} */

/* .headerSelect {
    display: flex;
    flex-direction: row;
    order: 2;
} */

.header_geo_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 2%;
    width: 6%;
    min-width: 90px;
}

.header_geo_button {
    color: #fff;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    /* pointer-events: none;  */
}

.header_geo_button:hover {
    transition: all 0.3s;
    color: #fff;
    text-decoration: none;
    outline: none;
}

.geo_button_value {
    min-width: 50px;
    border-radius: 5px;
    padding: 2px 4px 4px;
    background-color: rgba(48, 66, 105, 0.5);
}

.geo_button_value>div {
    height: 22px;
    padding: 0;
    border-bottom: 1px #fff dashed;
}

/* .header_buttonMass {
    margin: 2% 3% 2% 5%;
    order: 1;
} */

.buttonMass_button {
    text-decoration: none;
    background-color: transparent;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 10.5pt;
    color: #304269;
    margin: 0px 12.5px 0px 12.5px;
}

.buttonMass_button:hover {
    text-decoration: none;
}

/* .header_registration {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    background: none;
    min-height: 30px;
    min-width: 180px;
    border: 1.4px solid #304269;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
} */
.header_registration{
    height: 28px;
}
.header_registration p {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 9pt;
    color: #304269;
    font-family: "Roboto";
    font-weight: 300;
}

/* @media (max-width: 1060px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 2%;
    }
    .headerSelect {
        order: 1;
    }
    .header_buttonMass {
        margin: 2% auto;
        order: 2;
    }
    .headerLogo {
        width: 40%;
    }
}

@media (max-width: 800px) {
    .headerLogo {
        width: 45%;
    }
} */