.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    order: 0;
}

.headerSelect {
    display: flex;
    flex-direction: row;
    order: 2;
}

.header_geo_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 2%;
    width: 6%;
    min-width: 90px;
}

.header_geo_button {
    color: #fff;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    /* pointer-events: none;  */
}

.header_geo_button:hover {
    color: #fff;
    text-decoration: none;
    outline: none;
}

.geo_button_value {
    min-width: 50px;
    border-radius: 5px;
    padding: 2px 4px 4px;
    background-color: #97a3b4;
}

.geo_button_value>div {
    height: 22px;
    padding: 0;
    border-bottom: 1px #fff dashed;
}

.header_buttonMass {
    margin: 2% 3% 2% 5%;
    order: 1;
}

.buttonMass_button {
    text-decoration: none;
    background-color: transparent;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 10.5pt;
    color: #304269;
    margin: 0px 12.5px 0px 12.5px;
}

.buttonMass_button:hover {
    text-decoration: none;
}

.selectСgvicurrency {
    min-width: 74px;
    border-radius: 5px;
    padding: 3px 4px 4px;
    margin-right: 5px;
    background-color: #97a3b4;
    text-decoration: none;
    outline: none;
    color: #fff;
}

label.selectGeneral {
    display: block;
    position: relative;
    min-width: 70px;
    height: 30px;
    font-size: 10.5pt;
    margin: 0;
    margin-right: 10px;
    border-radius: 5px;
    background: #97a3b4;
    color: #fff;
}

label.selectGeneral::after {
    content: ">";
    position: absolute;
    right: -10px;
    border-radius: 5px;
    top: 1px;
    z-index: 2;
    width: 40px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    color: #fff;
    transform: rotate(90deg);
    cursor: pointer;
}

label.selectGeneral label {
    display: inline-block;
    min-width: 70px;
    height: 30px;
    margin: 0;
    line-height: 28px;
    border-radius: 5px;
    white-space: nowrap;
    padding: 0 14px 0 6px;
    background: #97a3b4;
}

label.selectGeneral label img {
    margin-right: 2px;
}

label.selectGeneral input,
label.selectGeneral label {
    display: none;
}

label.selectGeneral div {
    min-width: 100%;
    max-height: 500px;
    background: #97a3b4;
    border-radius: 5px;
    overflow-x: hidden;
}

label.selectGeneral input[type="radio"]:checked~div {
    position: absolute;
    top: 28px;
    z-index: 999;
    overflow-y: auto;
}

label.selectGeneral input[type="radio"]:checked~div>label,
label.selectGeneral input[type="radio"]:checked+label {
    display: block;
}

.header_registration {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    background: none;
    min-height: 30px;
    min-width: 180px;
    border: 1.4px solid #304269;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.header_registration p {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 0.8rem;
    color: #304269;
    font-family: "Roboto";
    font-weight: 300;
}

@media (max-width: 1060px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 2%;
    }
    .headerSelect {
        order: 1;
    }
    .header_buttonMass {
        margin: 2% auto;
        order: 2;
    }
    .headerLogo {
        width: 40%;
    }
}

@media (max-width: 800px) {
    .headerLogo {
        width: 45%;
    }
}