.forgotPasswordBody {
    min-height: 94.4vh;
    width: 100%;
    background: url(./img/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    /* align-items: center; */
}

.forgotPasswordContent {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    height: 30%;
    margin-top: 10%;
}

.forgotPasswordContent span {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding: 20px 0 20px 0;
}

.forgotPasswordContent input {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
    width: 80%;
    background: rgba(255, 255, 255, 0.349);
    min-height: 41px;
}

.forgotPasswordContent input::placeholder {
    color: #fff;
}

.forgotPasswordBt {
    cursor: pointer;
    height: 100%;
    background: #f60;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}

.forgotPasswordBt span {
    font-size: 14px;
}

.forgotPasswordContent-active {
    color: rgb(37, 165, 154);
    font-size: 14px;
    font-weight: 400;
}

.forgotPasswordContent .forgotPasswordContent-error {
    color: #fff !important;
    background: #a5252580;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

.forgotPasswordSuccess {}