.forgotPasswordBody {
    min-height: 94.4vh;
    width: 100%;
    background: url(../media/tbs_4.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    /* align-items: center; */
}

.forgotPasswordContent.forgotPasswordSuccess span {
    font-size: 18px;
    font-weight: 500;
}

.forgotPasswordContent {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
    height: 30%;
    margin-top: 10%;
}

.forgotPasswordContent span {
    font-size: 34px;
    font-weight: 500;
    color: #304269;
    padding: 20px 0 20px 0;
}

.forgotPasswordContent .forgotPasswordContentSpanText {
    font-size: 12px;
    font-weight: 400;
    color: #686868;
    padding-bottom: 60px;
}

.forgotPasswordContent input {
    font-size: 14px;
    font-weight: 400;
    color: #304269;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
    width: 100%;
    background: none;
    min-height: 41px;
    border: 1px solid #686868;
}

.forgotPasswordContent input::placeholder {
    color: #686868;
}

.forgotPasswordBt {
    cursor: pointer;
    height: 100%;
    background: #304269;
    padding: 10px 50px;
    border-radius: 5px;
    margin: 10px;
    min-height: 41px;
}

.forgotPasswordContent .forgotPasswordBt span {
    font-size: 14px;
    color: #fff;
    padding: 0;
}

.forgotPasswordContent-active {
    color: rgb(37, 165, 154);
    font-size: 14px;
    font-weight: 400;
    padding: 20px 0 20px 0;
    padding-bottom: 60px;
}

.forgotPasswordContent .forgotPasswordContent-error {
    color: #e81123 !important;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    padding: 20px 0 20px 0;
    padding-bottom: 60px;
}

.forgotPasswordContent .forgotPasswordInput-error {
    background: #a5252580;
}

.resetPasswordInput {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px;
    min-height: 41px;
}

.resetPasswordInput i {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 12%;
    width: 20px;
    height: 20px;
    background: url(../media/eyeBlue.svg) no-repeat;
    background-size: 100% 100%;
    transition: all 0.3s;
}

.resetPasswordInput i:hover {
    background: url(../media/eyeOrange.svg) no-repeat;
    background-size: 100% 100%;
}

.resetPasswordInput-active i {
    background: url(../media/eyeOrange.svg) no-repeat;
    background-size: 100% 100%;
}

.resetPasswordInput-active i:hover {
    background: url(../media/eyeBlue.svg) no-repeat;
    background-size: 100% 100%;
}

@media (max-width: 990px) {}

@media (max-width: 586px) {
    .forgotPasswordContent span {
        font-size: 24px;
        text-align: center;
    }
}